<div class="page-header">
    <h3><i class="fa fa-fw fa-comments"></i> Comments</h3>
    <p>For more information on managing Comments, visit the <code><a href="{{ url('api_doc_comment') }}">Comment Api</a></code>.</p>
</div>