<div class="page-header">
    <h3><i class="fa fa-fw fa-tags"></i> Tags</h3>
    <p>For more information on managing Tags, visit the <code><a href="{{ url('api_doc_tag') }}">Tag Api</a></code>.</p>
</div>