{% extends 'TavroFrontendBundle:Layouts:email.html.twig' %}

{% block email_body %}
<div id="email-content">

  <div class="page-header">
    <h1><span class="icon-alert"></span>{{code}} Exception Report</h1>
  </div>

  <div class="callout callout-danger"><strong>{{message|raw}}</strong></div>

  <h2>Stack Trace</h2>
  {{ trace|raw }}

</div>
{% endblock %}