<div ng-controller="OrganizationController">

  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#organization-get" aria-controls="organization-get" role="tab" data-toggle="tab">GET</a></li>
      <li role="presentation" class=""><a href="#organization-post" aria-controls="organization-post" role="tab" data-toggle="tab">POST</a></li>
      <li role="presentation" class=""><a href="#organization-put" aria-controls="organization-put" role="tab" data-toggle="tab">PUT</a></li>
      <li role="presentation" class=""><a href="#organization-patch" aria-controls="organization-patch" role="tab" data-toggle="tab">PATCH</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="organization-get">
        <div class="panel panel-default">
            <div class="panel-heading"><code>GET</code> Organization <span class="text-muted pull-right">/api/v1/Organization:id</span></div>
            <div class="panel-body">

              <p>This provides data about an individual Organization.</p>

              <table class="table table-striped">
                <tr>
                  <th>Parameter</th>
                  <th>Value</th>
                  <th>Type</th>
                  <th>Description</th>
                </tr>
                <tr>
                  <td>:id</td>
                  <td><input type="text" class="form-control" ng-model="organization.id" /></td>
                  <td>string</td>
                  <td>The ID of the organization to retrieve.</td>
                </tr>
                <tr>
                  <td>locale</td>
                  <td>
                    <select class="form-control" ng-model="organization.locale">
                      <option value="en-us">English (US)</option>
                      <option value="en-gb">English (UK)</option>
                    </select>
                  </td>
                  <td>string</td>
                  <td>What locale to use in the response</td>
                </tr>
              </table>

              <button type="submit" class="btn btn-sm btn-success" ng-click="getOrganization(organization)">
                <i class="fa fa-fw fa-refresh"></i> Run
              </button>

            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Request</h4>
            </div>
            <ul class="list-group">
              <li class="list-group-item">URI: <span ng-bind="api.uri"></span></li>
              <li class="list-group-item">Status: <span ng-bind="api.code"></span></li>
            </ul>
          </div>

          <h4>Response</h4>
          <pre ng-class="" ng-bind="result|json"></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="organization-post"></div>
      <div role="tabpanel" class="tab-pane" id="organization-put"></div>
      <div role="tabpanel" class="tab-pane" id="organization-patch"></div>
    </div>

  </div>

</div>