{% extends 'TavroAppBundle:Layouts:admin.html.twig' %}

{% block admin -%}

  <div ng-controller="AdminController as aCtrl">
    <section ng-init="initializeData()">

      <table class="table table-hover table-striped table-responsive">

      </table>

    </section>
  </div>

{% endblock %}