{% extends '::base.html.twig' %}

{% block body_classes %}exception{% endblock %}

{% block body %}

  <div id="exception">

    <div class="page-header">
      <h1 class="text-danger">Oops!</h1>
      <p>Something went terribly wrong. We are sorry for the inconvenience, but are looking into a resolution as soon as possible.</p>
    </div>

    <button type="button" class="btn btn-sm btn-info" onclick="window.history.go(-1)">
      <i class="fa fa-fw fa-arrow-left"></i> Go back to what you were doing
    </button>

    {% if app.environment == 'dev' or app.environment == 'test' %}
      {% include 'TavroCoreBundle:Error:debug.html.twig' %}
    {% endif %}

  </div>

{% endblock %}