{% extends '::base.html.twig' %}

{#
    Accessible Variables
    exception
    - statusCode
    - message
    - headers
    - string
    - code
    - file
    - line
    - trace (array)
    -- file
    -- line
    -- function
    -- class
    -- args
    -- type
    - previous (exception object recursive)
#}

{% block body_classes %}error-{{ exception.statusCode }}{% endblock %}
{% block body %}

  <div class="page-header">
    <h1 class="text-danger">Http Error {{ exception.statusCode }}</h1>
    <p class="lead">
      {% if exception.statusCode == 404 %}We're sorry, but the page you are looking for does not exist.
      {% elseif exception.statusCode == 403 %}Sorry but you are not authorized to access this content.
      {% else %}There was an error performing your request.
      {% endif %}
    </p>
  </div>

  <button type="button" class="btn btn-sm btn-info" onclick="window.history.go(-1)">
    <i class="fa fa-fw fa-arrow-left"></i> Go back to what you were doing
  </button>

  {% if app.environment == 'dev' or app.environment == 'test' %}
    {% include 'TavroCoreBundle:Error:debug.html.twig' %}
  {% endif %}

{% endblock %}
