{% extends 'TavroAdminBundle:Default:base.html.twig' %}

{% block title_block %}

    <div class="page-header" style="margin-top: 80px;">
        <h1>Administration</h1>
        <p class="lead"><i class="fa fa-fw fa-lock"></i> This page is for Tavro Administrators only.</p>
    </div>

{% endblock %}


{% block body %}



{% endblock %}