<h3><i class="fa fa-fw fa-file-zip-o"></i> Upload a File</h3>
<hr />

<form method="post" enctype="multipart/form-data">

  <div class="row">
    <div class="col-lg-6">

      <p class="text-danger"><i class="fa fa-fw fa-warning"></i> Uploading a file will override any Github repository you have associated to this Mod and instead use this file.</p>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-file-zip-o"></i> File</div>
          <input type="file" class="form-control" id="file" ng-model="file" file-model="file">
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-sm" type="submit" ng-click="uploadFile(file)">
          <i class="fa fa-fw fa-cloud-upload"></i> Upload
        </button>
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
      <ul class="small list-group" ng-if="mod.file">
        <li class="list-group-item"><i class="fa fa-fw fa-file-zip-o"></i> <a href="/files/{[mod.file.id]}/download">{[mod.file.aws_key]}</a></li>
        <li class="list-group-item text-muted"><i class="fa fa-fw fa-file-zip-o"></i> {[mod.file.original_filename]}</li>
        <li class="list-group-item"><i class="fa fa-fw fa-download"></i> {[mod.file.downloads]} Downloads</li>
        <li class="list-group-item"><i class="fa fa-fw fa-database"></i> {[mod.file.filesize]} bytes</li>
        <li class="list-group-item"><i class="fa fa-fw fa-calendar-o"></i> {[mod.file.create_date|date:'short']}</li>
      </ul>
    </div>
  </div>

</form>