<div id="mod-images" ng-if="user.is_moderator || user.id == mod.user.id">

  <p class="lead"><i class="fa fa-fw fa-file-photo-o"></i> Images</p>

  <form method="post" enctype="multipart/form-data">

    <div class="form-group">
      <input class="form-control" type="file" ng-model="image" file-model="image">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-sm" type="submit" ng-click="uploadImage(image)">
        <i class="fa fa-fw fa-cloud-upload"></i> Upload
      </button>
    </div>

  </form>

  <hr />

  <p ng-if="!mod.mod_images.length" class="alert alert-info alert-no-images">There are no images associated with <strong>{[mod.title]}</strong>.</p>

  <div class="list-group" ng-if="mod.mod_images.length">
    <div class="list-group-item" ng-repeat="image in mod.mod_images" id="image-{[image.id]}">
      <div class="clearfix">
        <div class="col-lg-2 text-center">
          <a href="{[image.aws_url]}" data-lightbox="mod-{[mod.id]}-images-edit"><img alt="{[image.aws_key]}" class="img-circle img-thumbnail" src="/media/cache/resolve/tiny_mod/{[image.aws_key]}" /></a>
        </div>
        <div class="col-lg-8">
          {[image.aws_url]}
          <ul class="list-inline small">
            <li>{[image.original_filename]}</li>
            <li>{[image.aws_key]}</li>
            <li>{[image.filesize]} bytes</li>
            <li>{[image.width]}x{[image.height]}</li>
          </ul>
        </div>
        <div class="col-lg-1">
          <a class="btn btn-xs btn-danger" href="javascript:;" ng-click="removeModImage(image)"><i class="fa fa-fw fa-remove"></i></a>
        </div>
      </div>
    </div>
  </div>

</div>