<form novalidate ng-submit="mCtrl.saveMod(mod)" ng-if="(mod.id && (user.is_moderator || user.id == mod.user.id)) || user.id">

  <input ng-if="mod.user" type="hidden" name="user" ng-model="mod.user" value="{[mod.user]}" />

  <div class="row">
    <div class="form-group">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-file-text"></i></div>
          <input type="text" class="form-control" id="title" ng-model="mod.title" placeholder="Mod title">
        </div>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="type" ng-model="mod.category">
          <option value="">- Select One -</option>
          <option ng-repeat="category in categories" value="{[category.id]}" ng-selected="category.id == mod.category.id">{[category.title]}</option>
        </select>
      </div>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">https://github.com/</div>
      <input type="text" class="form-control" id="title" ng-model="mod.github_repo" placeholder="username/repository">
      <div class="input-group-addon"><i class="fa fa-fw fa-github-alt"></i></div>
    </div>
    <label for="github_repo" class="small text-warning"><i class="fa fa-fw fa-warning"></i> Using Github will remove any <em>direct download</em> file(s) you have uploaded and use Github instead.</label>
  </div>

  <hr />

  <h4>Mod Description</h4>
  <p class="text-muted small"><i class="fa fa-fw fa-lightbulb-o"></i> You can safely add hyperlinks, images, and embed videos into the description of your mod.</p>

  <div class="form-group">
    <div text-angular ng-model="mod.body"></div>
  </div>

  <div class="form-group">
    <button class="btn btn-success" type="button" ng-click="saveMod(mod)"><i class="fa fa-fw fa-check"></i> Save</button>
  </div>

</form>