<div id="mod-images" ng-if="user.is_moderator || user.id == mod.user.id">

  <p class="lead"><i class="fa fa-fw fa-users"></i> Contributors</p>

  <form method="post" ng-submit="addModUser(user)">

    <div class="form-group">
      <input type="text"
         id="contributors"
         class="form-control"
         ng-model="tag"
         data-animation="am-flip-x"
         bs-options="user.username as user.username for user in getUsers($viewValue)"
         placeholder="Find a contributor by Username"
         bs-typeahead />
    </div>

  </form>

  <hr />

  <p ng-if="!mod.mod_contributors.length" class="alert alert-info alert-no-images">There are no contributors assigned to <strong>{[mod.title]}</strong>.</p>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 60px;"></th>
        <th>Name</th>
        <th style="width: 40px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/users/{[user.username]}"><img alt="{[user.username]}" ng-src="{[ user.avatar && '/media/cache/resolve/tiny_avatar/' + user.avatar.aws_key || '/bundles/tavrocore/img/avatars/default.gif' ]}" class="img-circle img-responsive user-avatar user-avatar-{[user.id]} img-thumbnail" /></a></td>
        <td>{[user.username]}<p class="small"><a href="mailto:{[user.email]}"><i class="fa fa-fw fa-envelope-square"></i> {[user.email]}</a></p></td>
        <td><a style="margin-bottom: -10px;" class="btn btn-xs btn-danger" href="javascript:;" ng-click="removeModUser(user)"><i class="fa fa-fw fa-close"></i></a></td>
      </tr>
    </tbody>
  </table>

</div>