<table class="table table-striped table-hover" ng-if="profile_user.nodes.length > 0">
  <thead>
  <tr>
    <th style="width: 30px;"></th>
    <th>Title</th>
    <th style="width: 40px;">Reads</th>
    <th style="width: 40px;">Views</th>
  </tr>
  </thead>
  <tr ng-repeat="node in profile_user.nodes">
    <td style="width: 30px;" class="text-center">
      <i class="ra"
        ng-class="{'ra-book text-success':node.type == 'page', 'ra-dripping-sword text-info':node.type == 'guide', 'ra-scroll-unfurled':node.type == 'article'}">
      </i>
     </td>
    <td><a href="/{[node.type]}s/{[node.slug]}">{[node.title]}</a></td>
    <td style="width: 30px;" class="text-center">{[node.read_count]}</td>
    <td style="width: 30px;" class="text-center">{[node.views]}</td>
  </tr>
</table>