{% extends 'TavroAppBundle:Layouts:documentation.html.twig' %}
{% set comment_ = true %}
{% block body_classes %}doc-page{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Comment API</h1>
        <p class="lead"><i class="fa fa-fw fa-comment"></i> Interact with <code>api.tavro.io</code> and manage Comments associated to various objects.</p>
    </div>

    <div class="page-header">
        <h3><i class="fa fa-fw fa-database"></i> Comment Model</h3>
        <p>The Comment model.</p>
    </div>

    <div class="alert alert-warning">
        <strong><i class="fa fa-fw fa-warning"></i> The <code>title</code> field for the Comment object is <em>always</em> adjusted to lowercase!</strong>
    </div>

    <div class="panel panel-default">
        <table class="table table-hover table-striped table-api">
            <thead>
            <tr>
                <th>Field</th>
                <th>Type</th>
                <th>Methods</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>id</td>
                <td class="integer">integer</td>
                <td>GET, DELETE</td>
                <td>Unique identifier.</td>
            </tr>
            <tr>
                <td>body</td>
                <td class="text">text</td>
                <td>GET, PUT, PATCH</td>
                <td></td>
            </tr>
            <tr>
                <td>update_date</td>
                <td class="date">date</td>
                <td>GET</td>
                <td></td>
            </tr>
            <tr>
                <td>create_date</td>
                <td class="date">date</td>
                <td>GET</td>
                <td></td>
            </tr>
            <tr>
                <td>status</td>
                <td class="integer">integer</td>
                <td>GET, PATCH, PUT</td>
                <td></td>
            </tr>
            <tr>
                <td>user <code>user_id</code></td>
                <td class="integer">integer</td>
                <td>GET, POST</td>
                <td>The User commenting.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="page-header">
        <h3><i class="fa fa-fw fa-location-arrow"></i> Comment Api Routes</h3>
    </div>

    <ul>
        <li><code>{comment}</code> must be the integer ID of a Comment..</li>
        <li><code>{format}</code> must be <code>XML</code> or <code>JSON</code> (if not provided the default is <code>JSON</code>).</li>
    </ul>

    <hr/>

    <div class="panel panel-default">
        <table class="table table-striped table-hover table-api">
            <tr>
                <th>Path</th>
                <th>Method(s)</th>
                <th>Description</th>
            </tr>
            <tr>
                <td class="code">/api/v1/comments.{format}</td>
                <td class="code get">GET</td>
                <td>Get all Comments.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/comments/{comment}.{format}</td>
                <td class="code get">GET</td>
                <td>Get a Comment by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/comments/{comment}.{format}</td>
                <td class="code update">PUT, PATCH</td>
                <td>Update a Comment by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/comments/{comment}.{format}</td>
                <td class="code delete">DELETE</td>
                <td>Delete a Comment by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/comments.{format}</td>
                <td class="code post">POST</td>
                <td>Create a Comment.</td>
            </tr>
        </table>
    </div>

    <div class="page-header">
        <h3><i class="fa fa-fw fa-comments"></i> Submitting a Comment</h3>
    </div>

    <div class="alert alert-info">All that's necessary is to <code>POST</code> your Comment object to the respective Object you'd like to apply it to. From there the Api will do a lookup if the Comment exists already or not and reuse the existing tag if necessary.</div>

    <div class="panel panel-default">
        <table class="table table-striped table-hover table-api">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Method(s)</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="code">/api/v1/expenses/{expense}/comments.{format}</td>
                    <td class="code post">PUT, POST</td>
                    <td>Add a Comment to an Expense.</td>
                </tr>
                <tr>
                    <td class="code">/api/v1/funding_rounds/{comments}/comments.{format}</td>
                    <td class="code post">PUT, POST</td>
                    <td>Add a Comment to a Funding round.</td>
                </tr>
                <tr>
                    <td class="code">/api/v1/nodes/{node}/comments.{format}</td>
                    <td class="code post">PUT, POST</td>
                    <td>Add a Comment to a Node.</td>
                </tr>
                <tr>
                    <td class="code">/api/v1/revenues/{revenue}/comments.{format}</td>
                    <td class="code post">PUT, POST</td>
                    <td>Add a Comment to a Revenue item.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="page-header">
        <h3><i class="fa fa-fw fa-cube"></i> Leaving a Comment on a Node.</h3>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#angular" aria-controls="angular" role="tab" data-toggle="tab">Angular</a></li>
      <li role="presentation"><a href="#php" aria-controls="php" role="tab" data-toggle="tab">PHP</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 2em;">
      <div role="tabpanel" class="tab-pane active" id="angular">
<pre><code class="javascript">var auth = Base64.encode({API_KEY} + ':' + {API_PASSWORD});
$http.defaults.headers.common['Authorization'] = 'Basic ' + auth;

var url = 'https://{{ api_hostname }}/api/v1/nodes/' + {node} + '/comments';

var comment = {
    body: 'My name is Inigo Montoya. You killed my father. Prepare to die!',
    user: 14
};

$http.post(url, comment)
.success(function(data) {
  alert('Comment has been created!');
});</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="php">
<pre><code class="php">$url = 'https://{{ api_hostname }}/api/v1/nodes/{node}/comments';

$curl = new Curl();
$curl->setBasicAuthentication('{API_KEY}', '{API_PASSWORD}');
$curl->post($url, array(
    'body' => 'My name is Inigo Montoya. You killed my father. Prepare to die!',
    'user' => 14
));

if ($curl->error) {
    echo 'Error: ' . $curl->errorCode . ': ' . $curl->errorMessage;
}
else {
    echo $curl->response;
}</code></pre>
      </div>
    </div>

{% endblock %}