{% extends 'TavroAppBundle:Layouts:documentation.html.twig' %}
{% set front_page = true %}
{% block body_classes %}doc-page{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Getting Started</h1>
    <p class="lead"><i class="fa fa-fw fa-code-fork"></i> Interact with <code>{{ api_hostname }}</code> and enhance your business.</p>
  </div>

  <div class="alert alert-warning">
    <i class="fa fa-fw fa-info-circle"></i> All PHP examples assume the use of: <a href="https://github.com/php-curl-class/php-curl-class" target="_blank">https://github.com/php-curl-class/php-curl-class</a>.
  </div>

  <div class="page-content">

    <div class="page-header">
      <h2>Introduction</h2>
      <p>The Tavro API allows you to interact directly with any object associated with <strong>your</strong> Organizations, as well as your personal profile.</p>
    </div>

    <div class="page-header">
      <h2>Authentication</h2>
      <p>Authentication is handled with <strong>HTTP Basic Authentication</strong> using your <code>API KEY</code> and <code>API PASSWORD</code>.</p>
    </div>

    <div class="page-header">
        <h3>Sample Authenticated Request</h3>
        <p>Authentication must be handled with a proper encoding either <code>Base64</code> or <code>PHP_AUTH</code>.</p>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#angular" aria-controls="angular" role="tab" data-toggle="tab">Angular</a></li>
      <li role="presentation"><a href="#php" aria-controls="php" role="tab" data-toggle="tab">PHP</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 2em;">
      <div role="tabpanel" class="tab-pane active" id="angular">
<pre><code class="javascript">var auth = Base64.encode({API_KEY} + ':' + {API_PASSWORD});
$http.defaults.headers.common['Authorization'] = 'Basic ' + auth;

var my_user_id = {user};

var url = 'https://{{ api_hostname }}/api/v1/users/' + my_user_id;

$http.get(url)
.success(function(data) {
  alert('Your profile has been updated!');
});</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="php">
<pre><code class="php">$my_user_id = {user};

$url = sprintf('https://{{ api_hostname }}/api/v1/users/%s', $my_user_id);
        
$curl = new Curl();
$curl->setBasicAuthentication('{API_KEY}', '{API_PASSWORD}');
$curl->get($url);

if ($curl->error) {
    echo 'Error: ' . $curl->errorCode . ': ' . $curl->errorMessage;
}
else {
    echo $curl->response;
}</code></pre>
      </div>
    </div>

      <div class="page-header">
          <h2>HTTP Methods</h2>
          <p>Please see W3 for more information here: <a target="_blank" href="https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html">https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html</a>.</p>
          <ul>
              <li><code>PUT</code> and <code>PATCH</code> are handled strictly by HTTP requirements. <code>PUT</code> requires the FULL model to be updated, while <code>PATCH</code> supports individual fields being updated.</li>
              <li>Not all objects support <code>PUT</code>.</li>
          </ul>
      </div>

    <div class="page-header">
      <h2>Response Data</h2>
      <p>Data is returned as <code>XML</code> or <code>JSON</code>. If you do not specify a proper <code>Accept</code> header, <code>JSON</code> will be returned.</p>
    </div>

    <h4>Sample Response Data</h4>

<pre><code class="jsonview">{
  id: 14,
  status: 1,
  create_date: "2016-01-11T18:30:36+0000",
  update_date: "2016-01-11T18:30:36+0000",
  username: "user",
  email: "user@tavro.dev",
  last_online_date: "2016-01-13T19:09:48+0000",
  api_enabled: true,
  guid: "1ecfcf03-c31a-42b4-b8ad-6dd507b25d6d",
  roles: [
      "ROLE_USER"
  ],
  avatar: null
}</code></pre>

  </div>

{% endblock %}