{% extends 'TavroAppBundle:Layouts:documentation.html.twig' %}
{% set shareholder_page = true %}
{% block body_classes %}doc-page{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Shareholder API</h1>
    <p class="lead"><i class="fa fa-fw fa-user-secret"></i> Interact with <code>api.tavro.io</code> and manage your Shareholders.</p>
  </div>
{% endblock %}