{% extends 'TavroAppBundle:Layouts:documentation.html.twig' %}
{% set tag_page = true %}
{% block body_classes %}doc-page{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Tag API</h1>
    <p class="lead"><i class="fa fa-fw fa-tag"></i> Interact with <code>api.tavro.io</code> and manage Tags associated to various objects.</p>
  </div>
{% endblock %}