{% extends 'TavroAppBundle:Layouts:documentation.html.twig' %}
{% set tag_page = true %}
{% block body_classes %}doc-page{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Tag API</h1>
        <p class="lead"><i class="fa fa-fw fa-tag"></i> Interact with <code>api.tavro.io</code> and manage Tags associated to various objects.</p>
    </div>

    <div class="page-header">
        <h3><i class="fa fa-fw fa-database"></i> Tag Model</h3>
        <p>The Tag model.</p>
    </div>

    <div class="alert alert-warning">
        <strong><i class="fa fa-fw fa-warning"></i> The <code>title</code> field for the Tag object is <em>always</em> adjusted to lowercase!</strong>
    </div>

    <div class="panel panel-default">
        <table class="table table-hover table-striped table-api">
            <thead>
            <tr>
                <th>Field</th>
                <th>Type</th>
                <th>Methods</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>id</td>
                <td class="integer">integer</td>
                <td>GET, DELETE</td>
                <td>Unique identifier.</td>
            </tr>
            <tr>
                <td>title</td>
                <td class="string">string</td>
                <td>GET, PUT, PATCH</td>
                <td></td>
            </tr>
            <tr>
                <td>body</td>
                <td class="text">text</td>
                <td>GET, PUT, PATCH</td>
                <td></td>
            </tr>
            <tr>
                <td>update_date</td>
                <td class="date">date</td>
                <td>GET, PATCH, PUT</td>
                <td></td>
            </tr>
            <tr>
                <td>create_date</td>
                <td class="date">date</td>
                <td>GET</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

<pre><code class="jsonview">{
    id: 10,
    title: 'tag',
    body: 'A description, mostly unnecessary but you never know!',
    create_date: "2016-01-11T18:30:36+0000",
    update_date: "2016-01-11T18:30:36+0000"
}</code></pre>

    <div class="page-header">
        <h3><i class="fa fa-fw fa-location-arrow"></i> Tag Api Routes</h3>
    </div>

    <ul>
        <li><code>{tag}</code> must be the integer ID of a Tag..</li>
        <li><code>{format}</code> must be <code>XML</code> or <code>JSON</code> (if not provided the default is <code>JSON</code>).</li>
    </ul>

    <hr/>

    <div class="panel panel-default">
        <table class="table table-striped table-hover table-api">
            <tr>
                <th>Path</th>
                <th>Method(s)</th>
                <th>Description</th>
            </tr>
            <tr>
                <td class="code">/api/v1/funding.{format}</td>
                <td class="code get">GET</td>
                <td>Get all Tags.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/tags/{tag}.{format}</td>
                <td class="code get">GET</td>
                <td>Get a Tag by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/tags/{tag}.{format}</td>
                <td class="code update">PUT, PATCH</td>
                <td>Update a Tag by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/tags/{tag}.{format}</td>
                <td class="code delete">DELETE</td>
                <td>Delete a Tag by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/funding.{format}</td>
                <td class="code post">POST</td>
                <td>Create a Tag.</td>
            </tr>
        </table>
    </div>

    <div class="page-header">
        <h3><i class="fa fa-fw fa-tags"></i> Attaching Tags</h3>
        <p>Tags can be "attached" to several different types of Objects.</p>
    </div>

    <p>All that's necessary is to <code>POST</code> your Tag object to the respective Object you'd like to apply it to. From there the Api will do a lookup if the Tag exists already or not and reuse the existing tag if necessary.</p>

    <div class="panel panel-default">
        <table class="table table-striped table-hover table-api">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Method(s)</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="code">/api/v1/expenses/{expense}/tags.{format}</td>
                    <td class="code post">PUT, POST</td>
                    <td>Add a Tag to an Expense.</td>
                </tr>
                <tr>
                    <td class="code">/api/v1/funding/{funding}/tags.{format}</td>
                    <td class="code post">PUT, POST</td>
                    <td>Add a Tag to a Funding object.</td>
                </tr>
                <tr>
                    <td class="code">/api/v1/nodes/{node}/tags.{format}</td>
                    <td class="code post">PUT, POST</td>
                    <td>Add a Tag to a Node.</td>
                </tr>
                <tr>
                    <td class="code">/api/v1/revenues/{revenue}/tags.{format}</td>
                    <td class="code post">PUT, POST</td>
                    <td>Add a Tag to a Revenue item.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="page-header">
        <h3>Example</h3>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#angular" aria-controls="angular" role="tab" data-toggle="tab">Angular</a></li>
      <li role="presentation"><a href="#php" aria-controls="php" role="tab" data-toggle="tab">PHP</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 2em;">
      <div role="tabpanel" class="tab-pane active" id="angular">
<pre><code class="javascript">var auth = Base64.encode({API_KEY} + ':' + {API_PASSWORD});
$http.defaults.headers.common['Authorization'] = 'Basic ' + auth;

var url = 'https://{{ api_hostname }}/api/v1/nodes/' + {node} + '/tags';

var tag = {
    title: 'seed',
    body: 'content that is specific to our angel round'
};

$http.post(url, tag)
.success(function(data) {
  alert('Node has been tagged!');
});</code></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="php">
<pre><code class="php">$url = 'https://{{ api_hostname }}/api/v1/nodes/{node}/tags';

$curl = new Curl();
$curl->setBasicAuthentication('{API_KEY}', '{API_PASSWORD}');
$curl->post($url, array(
    'title' => 'seed',
    'body' => 'content that is specific to our angel round'
));

if ($curl->error) {
    echo 'Error: ' . $curl->errorCode . ': ' . $curl->errorMessage;
}
else {
    echo $curl->response;
}</code></pre>
      </div>
    </div>

{% endblock %}