{% extends 'TavroAppBundle:Layouts:documentation.html.twig' %}
{% set user_page = true %}
{% block body_classes %}doc-page{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>User API</h1>
        <p class="lead"><i class="fa fa-fw fa-user"></i> Interact with <code>api.tavro.io</code> and manage a User object and associations.</p>
    </div>


    <div class="page-header">
        <h3><i class="fa fa-fw fa-database"></i> User Model</h3>
        <p>The User object model.</p>
    </div>

    <div class="panel panel-default">
        <table class="table table-hover table-striped table-api">
            <thead>
            <tr>
                <th>Field</th>
                <th>Type</th>
                <th>Methods</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>id</td>
                <td class="integer">integer</td>
                <td>GET, DELETE</td>
                <td>Unique identifier.</td>
            </tr>
            <tr>
                <td>guid</td>
                <td class="string">string</td>
                <td>GET</td>
                <td>Globally unique identifier.</td>
            </tr>
            <tr>
                <td>update_date</td>
                <td class="date">date</td>
                <td>GET</td>
                <td></td>
            </tr>
            <tr>
                <td>create_date</td>
                <td class="date">date</td>
                <td>GET</td>
                <td></td>
            </tr>
            <tr>
                <td>last_online_date</td>
                <td class="date">date</td>
                <td>GET</td>
                <td></td>
            </tr>
            <tr>
                <td>api_key</td>
                <td class="string">string</td>
                <td>GET</td>
                <td></td>
            </tr>
            <tr>
                <td>api_password</td>
                <td class="string">string</td>
                <td>GET</td>
                <td></td>
            </tr>
            <tr>
                <td>status</td>
                <td class="integer">integer</td>
                <td>GET</td>
                <td></td>
            </tr>
            <tr>
                <td>email</td>
                <td class="string">string</td>
                <td>GET, CREATE, PATCH</td>
                <td></td>
            </tr>
            <tr>
                <td>username</td>
                <td class="string">string</td>
                <td>GET, CREATE, PATCH</td>
                <td></td>
            </tr>
            <tr>
                <td>gender</td>
                <td class="string">string</td>
                <td>GET, CREATE, PATCH</td>
                <td>[Male, Female, Other]</td>
            </tr>
            <tr>
                <td>birthday</td>
                <td class="date">date</td>
                <td>GET, CREATE, PATCH</td>
                <td></td>
            </tr>
            <tr>
                <td>roles</td>
                <td class="array">array</td>
                <td>GET</td>
                <td>Roles this User has.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#json" aria-controls="angular" role="tab" data-toggle="tab">JSON</a></li>
        <li role="presentation"><a href="#xml" aria-controls="php" role="tab" data-toggle="tab">XML</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="json">
<pre><code class="jsonview">{
    id: 14,
    status: 1,
    create_date: "2016-01-11T18:30:36+0000",
    update_date: "2016-01-11T18:30:36+0000",
    is_admin: false,
    is_developer: false,
    node_count: 1,
    username: "user",
    github_username: null,
    email: "user@tavro.dev",
    signature: null,
    last_online_date: "2016-01-18T20:00:34+0000",
    api_key: "a169b9fc-7973-5043-8345-97d7556943f0",
    api_password: "a001b7dd29b41980baea65b8",
    api_enabled: true,
    guid: "1ecfcf03-c31a-42b4-b8ad-6dd507b25d6d",
    user_ip: null,
    gender: "",
    user_agent: null,
    birthday: null,
    roles: [
        "ROLE_USER"
    ],
    avatar: null
}</code></pre>
        </div>
        <div role="tabpanel" class="tab-pane" id="xml">
<pre><code class="xml">&#x3C;?xml version=&#x22;1.0&#x22; encoding=&#x22;UTF-8&#x22;?&#x3E;
&#x3C;user xmlns=&#x22;http://tavro.io/api/users&#x22; xmlns:xsi=&#x22;http://www.w3.org/2001/XMLSchema-instance&#x22;&#x3E;
  &#x3C;id&#x3E;14&#x3C;/id&#x3E;
  &#x3C;status&#x3E;1&#x3C;/status&#x3E;
  &#x3C;create_date&#x3E;&#x3C;![CDATA[2016-01-11T18:30:36+0000]]&#x3E;&#x3C;/create_date&#x3E;
  &#x3C;update_date&#x3E;&#x3C;![CDATA[2016-01-11T18:30:36+0000]]&#x3E;&#x3C;/update_date&#x3E;
  &#x3C;is_admin&#x3E;false&#x3C;/is_admin&#x3E;
  &#x3C;is_developer&#x3E;false&#x3C;/is_developer&#x3E;
  &#x3C;node_count&#x3E;1&#x3C;/node_count&#x3E;
  &#x3C;username&#x3E;&#x3C;![CDATA[user]]&#x3E;&#x3C;/username&#x3E;
  &#x3C;github_username xsi:nil=&#x22;true&#x22;/&#x3E;
  &#x3C;email&#x3E;&#x3C;![CDATA[user@tavro.dev]]&#x3E;&#x3C;/email&#x3E;
  &#x3C;signature xsi:nil=&#x22;true&#x22;/&#x3E;
  &#x3C;last_online_date&#x3E;&#x3C;![CDATA[2016-01-18T20:00:34+0000]]&#x3E;&#x3C;/last_online_date&#x3E;
  &#x3C;api_key&#x3E;&#x3C;![CDATA[a169b9fc-7973-5043-8345-97d7556943f0]]&#x3E;&#x3C;/api_key&#x3E;
  &#x3C;api_password&#x3E;&#x3C;![CDATA[a001b7dd29b41980baea65b8]]&#x3E;&#x3C;/api_password&#x3E;
  &#x3C;api_enabled&#x3E;true&#x3C;/api_enabled&#x3E;
  &#x3C;guid&#x3E;&#x3C;![CDATA[1ecfcf03-c31a-42b4-b8ad-6dd507b25d6d]]&#x3E;&#x3C;/guid&#x3E;
  &#x3C;user_ip xsi:nil=&#x22;true&#x22;/&#x3E;
  &#x3C;gender&#x3E;&#x3C;![CDATA[]]&#x3E;&#x3C;/gender&#x3E;
  &#x3C;user_agent xsi:nil=&#x22;true&#x22;/&#x3E;
  &#x3C;birthday xsi:nil=&#x22;true&#x22;/&#x3E;
  &#x3C;roles&#x3E;
    &#x3C;entry&#x3E;&#x3C;![CDATA[ROLE_USER]]&#x3E;&#x3C;/entry&#x3E;
  &#x3C;/roles&#x3E;
  &#x3C;avatar xsi:nil=&#x22;true&#x22;/&#x3E;
&#x3C;/user&#x3E;</code></pre>
        </div>
    </div>

    <div class="page-header">
        <h3><i class="fa fa-fw fa-location-arrow"></i> User Api Routes</h3>
    </div>

    <ul>
        <li><code>{user}</code> must be the integer ID of a User.</li>
        <li><code>{format}</code> must be <code>XML</code> or <code>JSON</code> (if not provided the default is <code>JSON</code>).</li>
    </ul>

    <hr/>

    <div class="panel panel-default">
        <table class="table table-striped table-hover table-api">
            <tr>
                <th>Path</th>
                <th>Method(s)</th>
                <th>Description</th>
            </tr>
            <tr>
                <td class="code">/api/v1/users.{format}</td>
                <td class="code get">GET</td>
                <td>Get all Users.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/users/{user}.{format}</td>
                <td class="code get">GET</td>
                <td>Get a User by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/users/{user}.{format}</td>
                <td class="code update">PUT, PATCH</td>
                <td>Update a User by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/users/{user}.{format}</td>
                <td class="code delete">DELETE</td>
                <td>Delete a User by Id.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/users.{format}</td>
                <td class="code post">POST</td>
                <td>Create a User.</td>
            </tr>
            <tr>
                <th colspan="3">Additional Routes</th>
            </tr>
            <tr>
                <td class="code">/api/v1/users/{user}/reset/api-password.{format}</td>
                <td class="code post">POST</td>
                <td>Reset a User's Api Password</td>
            </tr>
            <tr>
                <td class="code">/api/v1/users/{user}/reset/api-key.{format}</td>
                <td class="code post">POST</td>
                <td>Reset a User's Api Key</td>
            </tr>
            <tr>
                <td class="code">/api/v1/users/{user}/organizations.{format}</td>
                <td class="code get">GET</td>
                <td>Get all Organizations this User is associated with.</td>
            </tr>
            <tr>
                <td class="code">/api/v1/users/{user}/nodes.{format}</td>
                <td class="code get">GET</td>
                <td>Get all Nodes this User has created.</td>
            </tr>
        </table>
    </div>

    {% include 'TavroAppBundle:Documentation:user_organization.html.twig' %}

{% endblock %}