{% extends '::base.html.twig' %}
{% block body_classes %}about-page{% endblock %}
{% block header %}
<div class="page-header">
  <h1>Tavro</h1>
</div>
{% endblock %}
{% block body %}

  <div class="row">

  </div>

{% endblock %}