{% extends '::base.html.twig' %}

{% block title %}Tavro Confirmation{% endblock %}

{% block body %}
  <div class="wrapper confirm-page-wrapper" id="page-wrapper">
    <div class="content confirm-page-content" >

      <div class="well drop-shadow">

        <h2>Are you sure?</h2>

        <div class="clearfix">
            <p>{{ confirm_message|raw }}</p>
        </div>

        {{ form_start(confirm_form) }}

        <div class="clearfix">
          <div class="pull-left">
            {{ form_widget(confirm_form.submit) }}
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-sm btn-warning" onclick="window.history.go(-1)">Cancel</button>
          </div>
        </div>

        {{ form_end(confirm_form) }}

      </div>

    </div>
  </div>
{% endblock %}