{% extends '::base.html.twig' %}
{% set front_page = true %}
{% block body_classes %}front-page{% endblock %}

{% block body %}

  <div class="page-header">
    <h1><i class="fa fa-fw fa-code-fork"></i> Tavro Api</h1>
    <p>Grab your business by the horns, and use Tavro to do it!</p>
  </div>

{% endblock %}