{% extends '::base.html.twig' %}
{% set front_page = true %}
{% block body_classes %}front-page{% endblock %}

{% block body %}

  <div class="page-header">
    <h1><i class="fa fa-fw fa-code-fork"></i> Tavro Api</h1>
    <p>Grab your business by the horns, and use Tavro to do it!</p>
  </div>

  <div class="row">

    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-fw fa-code"></i> Tavro Api</a></li>
        <li role="presentation"><a href="#organizations" aria-controls="organizations" role="tab" data-toggle="tab"><i class="fa fa-fw fa-building"></i> Organization</a></li>
        <li role="presentation"><a href="#orgusers" aria-controls="orgusers" role="tab" data-toggle="tab"><i class="fa fa-fw fa-group"></i> Org User</a></li>
        <li role="presentation"><a href="#revenues" aria-controls="revenues" role="tab" data-toggle="tab"><i class="fa fa-fw fa-money"></i> Revenue</a></li>
        <li role="presentation"><a href="#expenses" aria-controls="expenses" role="tab" data-toggle="tab"><i class="fa fa-fw fa-bar-chart"></i> Expense</a></li>
        <li role="presentation"><a href="#funding" aria-controls="funding" role="tab" data-toggle="tab"><i class="fa fa-fw fa-bank"></i> Funding</a></li>
        <li role="presentation"><a href="#products" aria-controls="products" role="tab" data-toggle="tab"><i class="fa fa-fw fa-cube"></i> Product</a></li>
        <li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab"><i class="fa fa-fw fa-tasks"></i> Service</a></li>
        <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab"><i class="fa fa-fw fa-user"></i> User</a></li>
      </ul>
    </div>

    <div class="col-md-10">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="col-xs-6">
            <label for="api_password">API Key</label>
            <input type="text" class="form-control" name="api_key" id="api_key" placeholder="{{ user.apiKey }}" />
          </div>
          <div class="col-xs-6">
            <label for="api_password">API Password</label>
            <input type="text" class="form-control" name="api_password" id="api_password" placeholder="{{ user.apiPassword }}"/>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="organizations">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><code>GET</code> Organization <span class="text-muted pull-right">/api/v1/Organization:id</span></div>
              <div class="panel-body">

                <p>This provides data about an individual Organization.</p>

                <table class="table table-striped">
                  <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>:id</td>
                    <td><input type="text" class="form-control" /></td>
                    <td>string</td>
                    <td>The ID of the organization to retrieve.</td>
                  </tr>
                  <tr>
                    <td>locale</td>
                    <td>
                      <select class="form-control">
                        <option value="en-us">English (US)</option>
                        <option value="en-gb">English (UK)</option>
                      </select>
                    </td>
                    <td>string</td>
                    <td>What locale to use in the response</td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Request</h4>
              </div>
              <ul class="list-group">
                <li class="list-group-item">URI: <code>/api/v1/Organization/1</code></li>
                <li class="list-group-item">Status: <code>403 Forbidden</code></li>
              </ul>
            </div>

            <h4>Response</h4>
            <pre class="danger">Content-Type: application/json<br>Date: Fri, 08 Jan 2016 22:00:55 GMT<br>Content-Length: 61<br>Connection: keep-alive<hr />{<br>  "code": 403,<br>  "type": "Forbidden",<br>  "detail": "Account Inactive"<br>}</pre>

          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="orgusers"></div>
        <div role="tabpanel" class="tab-pane" id="revenues"></div>
        <div role="tabpanel" class="tab-pane" id="expenses"></div>
        <div role="tabpanel" class="tab-pane" id="funding"></div>
        <div role="tabpanel" class="tab-pane" id="products"></div>
        <div role="tabpanel" class="tab-pane" id="services"></div>
        <div role="tabpanel" class="tab-pane" id="users"></div>
      </div>
    </div>

  </div>

{% endblock %}