{% extends '::base.html.twig' %}
{% set front_page = true %}
{% block body_classes %}front-page{% endblock %}

{% block jumbotron %}

  <div id="jumbotron">
    <div class="container">
      <div id="jumbotron-content" class="col-lg-8">
        <h1>Tackle your business by the Horns!</h1>
      </div>
      <div class="pull-right visible-lg">
        {% if app.environment == 'prod' %}
          <img alt="flag" src="{{ amazon_s3_url }}/tavro-assets/img/flags_01.png" />
        {% else %}
          <img alt="flag" src="/assets/img/flags_01.png" />
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

{% block body %}

  <div class="container">

  </div>


{% endblock %}