{% extends '::base.html.twig' %}
{% set front_page = true %}
{% block body_classes %}front-page{% endblock %}

{% block body %}

  <div class="container">
    <h1>Tackle your business by the Horns!</h1>
  </div>

{% endblock %}