{% extends '::base.html.twig' %}
{% set front_page = true %}
{% block body_classes %}front-page{% endblock %}

{% block jumbotron %}

  <div id="jumbotron">
    <div class="container">
      <div id="jumbotron-content" class="col-lg-8">
        <h1>Tackle your business by the Horns!</h1>
      </div>
    </div>
  </div>

{% endblock %}

{% block body %}

  <div class="container">

  </div>


{% endblock %}