{% extends '::base.html.twig' %}
{% block body_classes %}terms-page{% endblock %}
{% block header %}
{% endblock %}
{% block body %}

  <div class="text group">

    <p class="lead"><i class="fa fa-fw fa-calendar"></i> Last Modified on Friday September 18, 2015</li>

    <h4 class="page-header"><strong>Your Acceptance</strong></h4>

    <ul class="list-group">
      <li class="list-group-item small">Welcome to the Zoadilack, LLC (“ZOADILACK”) website network and the products and services offered by ZOADILACK through the ZOADILACK website network (collectively, including all Content (defined below) available through the zoadilack.com domain name and the ZOADILACK website
        network, the "ZOADILACK Websites", or "Websites"). This Terms of Service (“Terms of Service”) describes the terms and conditions applicable to your access and use of the Websites.
      </li>
      <li class="list-group-item small">BY USING AND/OR VISITING THIS WEBSITE YOU ARE ACKNOWLEDGING THAT YOU HAVE READ, UNDERSTAND, AND AGREE, WITHOUT LIMITATION OR QUALIFICATION, TO BE BOUND BY THESE TERMS OF SERVICE AND THE TERMS AND CONDITIONS OF ZOADILACK's PRIVACY POLICY, WHICH ARE PUBLISHED AT <a
          href="{{ path('privacy') }}">{{ url('privacy') }}</a>.
      </li>
      <li class="list-group-item small">AND WHICH ARE INCORPORATED HEREIN BY REFERENCE. If you agree to these Terms of Service, then you may use the ZOADILACK Websites. If you do not agree to any of these terms, then please do not use the ZOADILACK Websites.</li>
    </ul>

    <h4 class="page-header"><strong>Access to Websites</strong></h4>
    <ul class="list-group">
      <li class="list-group-item small">ZOADILACK permits you to view and use a single copy of the Websites for your personal, non-commercial use, provided you comply with the terms and conditions of these Terms of Service. You agree not to license, create derivative works from, transfer, sell or re-sell any information,
        content, or services obtained
        from the Websites.
      </li>
      <li class="list-group-item small">In order to access some features of the Websites, you will have to create an account. You must be at least 18 years of age to register an account. Minor children may only access account-related features using a parent or guardian’s account so long as the parent or guardian consents and
        accepts full
        responsibility for the conduct of the child. When creating your account, you must provide accurate and complete information. If your contact information changes, you agree that you will promptly update the Account information to reflect those changes. You are solely responsible for the activity that occurs on
        your account, and you must keep your account password secure. You must notify ZOADILACK immediately of any breach of security or unauthorized use of your account. Although ZOADILACK will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of ZOADILACK
        or others
        due to such unauthorized use.
      </li>
      <li class="list-group-item small">ZOADILACK permits you to link to materials on the Websites for personal, non-commercial purposes only. In addition, ZOADILACK may now or in the future provide an "Embeddable Player” feature, which you may incorporate into your own personal, non-commercial websites for use in accessing
        the materials on the Websites,
        provided that you include a prominent link back to the ZOADILACK websites on the pages containing the Embeddable Player. ZOADILACK reserves the right to discontinue any aspect of the ZOADILACK Websites at any time.
      </li>
    </ul>
    <h4 class="page-header"><strong>Restrictions on Use</strong></h4>
    <ul class="list-group">
      <li class="list-group-item small">You may not connect to or use the Websites in any way not expressly permitted by this Terms of Service. Without limiting the foregoing, you agree that you will not (i) institute, assist, or become involved in any type of attack, including without limitation denial of service attacks,
        upon the Websites or
        otherwise attempt to disrupt the Websites or any other person's use of the Websites; (ii) use or launch any automated system, including without limitation, "robots," "spiders," "offline readers," etc., that accesses the Websites in a manner that sends more request messages to the ZOADILACK servers in a given
        period of time than a human can reasonably produce in the same period by using a convention on-line web browser; (iii) attempt to gain unauthorized access to the Websites, accounts registered to other users, or the computer systems or networks connected to the Websites; (iv) copy or distribute any part of the
        Websites in any medium without ZOADILACK's prior written authorization; (v) alter or modify any part of the Websites other than as may be reasonably necessary to use the Websites for its intended purpose; (vi) collect or harvest any personally identifiable information, including account names, from the
        Websites,
        nor to use the communication systems provided by the Websites for any commercial solicitation purposes; (vii) frame or utilize framing techniques to enclose the Websites or any portion thereof without our prior written consent (which consent may be withheld in our sole discretion); (viii) circumvent, disable
        or otherwise interfere with security related features of the Websites or features that prevent or restrict use or copying of any Content or enforce limitations on use of the Websites or the Content therein; (ix) solicit, for commercial purposes, any users of the Websites with respect to their User
        Submissions; (x) “stalk” or harass any person or entity; or (xi) violate any applicable law, rule or regulation.
      </li>
    </ul>
    <h4 class="page-header"><strong>Intellectual Property Rights</strong></h4>

    <ul class="list-group">
      <li class="list-group-item small">The content on the ZOADILACK Websites, except all User Submissions (as defined below), including without limitation, the text, software, add-ons, scripts, graphics, photos, sounds, music, videos, interactive features and the like and the trademarks, service marks and logos contained
        therein (collectively,
        “Content"), are owned by or licensed to ZOADILACK, subject to copyright and other intellectual property rights under United States and foreign laws and international conventions. Content on the Websites is provided for your information and personal use only and may not be used, copied, reproduced, distributed,
        transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective owners. ZOADILACK reserves all rights not expressly granted in and to the Websites and the Content. You agree to not engage in the use, copying, or
        distribution of any of the Content other than expressly permitted herein, including any use, copying, or distribution of User Submissions of third parties obtained through the Websites for any commercial purposes. If you download or print a copy of the Content for personal use, you must retain all copyright,
        trademark and other proprietary notices contained therein.
      </li>
    </ul>

    <h4 class="page-header"><strong>User Submissions</strong></h4>
    <ul class="list-group">
      <li class="list-group-item small">The ZOADILACK Websites may now or in the future permit the submission of content, including, without limitation, bulletin board postings, forum postings, artwork, photos, writings, illustrations, music, audio, sound effects, video, sketches, graphics, audio-visual works, software, code
        and algorithms, by you
        and other users ("User Submissions") and the hosting, sharing, and/or publishing of such User Submissions. You understand that whether or not such User Submissions are published, ZOADILACK does not guarantee any confidentiality with respect to any such submissions.
      </li>
      <li class="list-group-item small">You shall be solely responsible for your own User Submissions and the consequences of posting or publishing them. In connection with User Submissions, you affirm, represent, and/or warrant that: (i) you own or have the necessary licenses, rights, consents, and permissions to use and
        authorize ZOADILACK to use
        all patent, trademark, trade secret, copyright or other proprietary rights in and to any and all User Submissions to enable inclusion and use of the User Submissions in the manner contemplated by the Websites and these Terms of Service; and (ii) you have the written consent, release, and/or permission of each
        and every identifiable individual person in the User Submission to use the name or likeness of each and every such identifiable individual person to enable inclusion and use of the User Submissions in the manner contemplated by the Websites and these Terms of Service.
      </li>
      <li class="list-group-item small">By submitting, posting or displaying User Submissions on, to, or through ZOADILACK Websites (or its successors and affiliates), you grant ZOADILACK, Inc. a worldwide, non-exclusive, transferrable, royalty-free right to use, reproduce, distribute, display, perform, make derivative works
        of (except with regard to
        Submitted Projects), transmit or otherwise utilize such User Submissions on ZOADILACK Websites (or its successors and affiliates). In addition to the foregoing, you grant ZOADILACK the right to syndicate User Submissions and use User Submissions in connection with any service offered by ZOADILACK, Inc. With
        regard to
        User Submissions known as “add-ons”, "maps", "mods", or other types of Projects submitted through ZOADILACKForge.com or sites powered by ZOADILACKForge (“Submitted Projects”), the aforementioned rights granted by you terminate once you remove or delete such Submitted Projects from ZOADILACK Websites. You also
        acknowledge
        that ZOADILACK, Inc. may retain, but not display, distribute, or perform, server copies of Submitted Projects that have been removed or deleted. You acknowledge that the rights granted to ZOADILACK to User Submissions other than Submitted Projects are perpetual. In addition you acknowledge and grant users of
        the
        ZOADILACK Websites a non-exclusive license to access your User Submissions through the ZOADILACK Websites (or its successors and affiliates) and to use such User Submissions as applicable by their respective licenses.
      </li>
      <li class="list-group-item small">In connection with User Submissions, you further agree that you will not: (i) submit material that is subject to third party copyright, trade secret, trademark, patent or other proprietary rights, including privacy and publicity rights, unless you have permission from their rightful
        owner to post the
        material and to grant ZOADILACK all of the license rights granted herein; (ii) otherwise submit any User Submission that you do not have the right to submit under any law or under contract or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as
        part
        of employment relationships or under nondisclosure agreements); (iii) publish falsehoods or misrepresentations that could damage ZOADILACK or any third party; (iv) submit material that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, or
        encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, harms minors in any way or is otherwise inappropriate, as determined by ZOADILACK in its sole discretion; (v) post advertisements or solicitations of business or unauthorized advertising, promotional
        materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation; (vi) forge headers or otherwise manipulate identifiers in order to disguise the origin of any User Submission; (vii) use a false, e-mail address, impersonate any other person or entity or otherwise
        misrepresent your affiliation with a person or entity or otherwise be misleading regarding the origin of any User Submission submitted by you; or (viii) act in any manner that negatively affects other users' ability to use the Websites.
      </li>
      <li class="list-group-item small">ZOADILACK does not endorse any User Submission or any opinion, recommendation, or advice expressed therein, and ZOADILACK expressly disclaims any and all liability in connection with User Submissions. ZOADILACK reserves the right to remove Content and User Submissions with or without
        prior notice for any reason or no
        reason at all. ZOADILACK will also terminate a User's access to its Websites, if they are determined to be a repeat infringer. A repeat infringer is a User who has been notified of infringing activity more than twice and/or has had a User Submission removed from the Websites more than twice. ZOADILACK also
        reserves
        the right to decide whether Content or a User Submission is appropriate and complies with these Terms of Service for violations other than copyright infringement and violations of intellectual property law, such as, but not limited to, pornography, obscene or defamatory material, or excessive length. ZOADILACK
        may remove such User Submissions and/or terminate a User's access for uploading such material in violation of these Terms of Service at any time, without prior notice and at its sole discretion. We also reserve the right, at all times and in our sole discretion, to disclose any User Submissions for any
        reason, including without limitation (a) to satisfy any applicable law, regulation, legal process or governmental request; (b) to enforce the terms of this or any other agreement; (c) to protect our legal rights and remedies; (d) where we believe someone’s health or safety may be threatened; or (e) to report
        a crime or other offensive behavior.
      </li>
      <li class="list-group-item small">You understand that when using the ZOADILACK Websites, you will be exposed to User Submissions from a variety of sources, and that ZOADILACK is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such User Submissions. You further
        understand and acknowledge that
        you may be exposed to User Submissions that are inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against ZOADILACK with respect thereto.
      </li>
    </ul>
    <h4 class="page-header"><strong>Notice of Claims of Copyright Infringement</strong></h4>
    <ul class="list-group">
      <li class="list-group-item small">If you are a copyright owner or agent thereof and believe that content posted on the Websites infringes upon your copyright, please submit notice, pursuant to the Digital Millennium Copyright Act (17 U.S.C. § 512(c)) to our Copyright Agent with the following information:</li>
      <li class="list-group-item small">
        (a) an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright; (b) a description of the copyrighted work that you claim has been infringed;
      </li>
      <li class="list-group-item small">
        (c) the URL of the location on our website containing the material that you claim is infringing;
      </li>
      <li class="list-group-item small">
        (d) your address, telephone number, and email address;
      </li>
      <li class="list-group-item small">
        (e) a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
      </li>
      </li>
      <li class="list-group-item small">
        (f) a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
      </li>
    </ul>

    <h4 class="page-header"><strong>Third Party Websites</strong></h4>

    <li class="list-group-item small">These Terms of Service apply to all users of the ZOADILACK Websites, including users who are also contributors of video content, information, and other materials or services on the Websites. The ZOADILACK Websites may contain links to third party websites that are not owned or controlled
      by ZOADILACK. ZOADILACK has no control
      over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, ZOADILACK will not and cannot censor or edit the content of any third-party site. By using the Websites, you expressly relieve ZOADILACK from any and all liability arising from your use
      of any
      third-party website. Accordingly, we encourage you to be aware when you leave the ZOADILACK Websites and to read the terms and conditions and privacy policy of each other website that you visit.
    </li>

    <h4 class="page-header"><strong>Warranty Disclaimer</strong></h4>

    <li class="list-group-item small">THE WEBSITES PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS FOR YOUR USE, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, AND THOSE ARISING FROM COURSE
      OF DEALING OR USAGE OF
      TRADE. ZOADILACK MAKES NO WARRANTY AS TO THE ACCURACY, COMPLETENESS OR RELIABILITY OF ANY CONTENT AVAILABLE THROUGH THE WEBSITES. YOU ARE RESPONSIBLE FOR VERIFYING ANY INFORMATION BEFORE RELYING ON IT. USE OF THE WEBSITES AND/OR THE CONTENT AND USER SUBMISSIONS AVAILABLE ON THE WEBSITES IS AT YOUR SOLE RISK.
      ZOADILACK
      DOES NOT WARRANT THAT YOU WILL BE ABLE TO ACCESS OR USE THE WEBSITES OR LOCATIONS OF YOUR CHOOSING; THAT THE WEBSITES WILL BE UNINTERRUPTED OR ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; OR THAT THE WEBSITES ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ZOADILACK DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME
      RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE ZOADILACK WEBSITES OR ANY HYPERLINKED WEBSITES OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND ZOADILACK WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY
      PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.
    </li>

    <li class="list-group-item small">Because some states or jurisdictions do not allow the disclaimer of implied warranties, the foregoing disclaimer may not apply to you.</li>

    <h4 class="page-header"><strong>Limitation of Liability</strong></h4>

    <li class="list-group-item small">TO THE MAXIMUM EXTENT PERMITTED BY LAW, ZOADILACK, ITS PARENT COMPANIES, OFFICERS, DIRECTORS, EMPLOYEES, AFFILIATES, AGENTS AND BUSINESS PARTNERS (COLLECTIVELY, THE “RELATED PARTIES”) DISCLAIM ALL LIABILITY, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR
      OTHERWISE, AND FURTHER
      DISCLAIMS ALL LOSSES, INCLUDING WITHOUT LIMITATION DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE WEBSITES, EVEN IF ZOADILACK AND/OR RELATED PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. WITHOUT LIMITING THE
      FOREGOING, IN NO CASE SHALL THE LIABILITY OF ZOADILACK OR ANY OF THE RELATED PARTIES EXCEED THE AMOUNT THAT YOU PAID TO ZOADILACK OR OUR DESIGNEES DURING THE SIX (6) MONTHS PRIOR TO THE TIME YOUR CAUSE OF ACTION AROSE.
    </li>

    <li class="list-group-item small">Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, the liability of ZOADILACK and its affiliates shall be limited to the fullest extent permitted by law.</li>

    <h4 class="page-header"><strong>Location</strong></h4>

    <ul class="list-group">
      <li class="list-group-item small">The Websites are controlled and offered by ZOADILACK from its facilities in the United States of America. ZOADILACK makes no representations that the ZOADILACK Websites are appropriate or available for use in other locations. Those who access or use the ZOADILACK Websites from other
        jurisdictions do so at their own volition
        and are responsible for compliance with local law.
      </li>
    </ul>

    <h4 class="page-header"><strong>Indemnity</strong></h4>

    <ul class="list-group">
      <li class="list-group-item small">You agree to defend, indemnify and hold harmless ZOADILACK and the Related Parties from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the
        ZOADILACK Websites; (ii) your
        violation of any term of these Terms of Service; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that one of your User Submissions caused damage to any third party. This defense and indemnification obligation will survive
        these Terms of Service and your use of the ZOADILACK Websites.
      </li>
    </ul>

    <h4 class="page-header"><strong>Children</strong></h4>

    <ul class="list-group">
      <li class="list-group-item small">The Websites are not directed toward children under 13 years of age nor does ZOADILACK knowingly collect information from children under 13. If you are under 13, please do not submit any personally identifiable information ZOADILACK.</li>
    </ul>

    <h4 class="page-header"><strong>Assignment</strong></h4>

    <ul class="list-group">
      <li class="list-group-item small">These Terms of Service, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by ZOADILACK without restriction.</li>
    </ul>

    <h4 class="page-header"><strong>Equitable Remedies</strong></h4>

    <ul class="list-group">
      <li class="list-group-item small">You hereby agree that ZOADILACK would be irreparably damaged if the terms of these Terms of Service were not specifically enforced, and therefore you agree that we shall be entitled, without bond, other security, or proof of damages, to appropriate equitable remedies with respect to
        breaches of the Terms of
        Service, in addition to such other remedies as we may otherwise have available to us under applicable laws.
      </li>
    </ul>
  </div>


{% endblock %}