{% extends 'TavroCoreBundle:Email:base.html.twig' %}

{% block email_body %}

  {{ user.person.firstName }} ({{ user.username }}),<br /><br />

  <p>Welcome to Tavro, your account requires activation to continue.</p>

  <p>Please click the following link to activate your account: {{ app_hostname }}/activate?token={{ user.guid }}</p>

{% endblock %}