{% extends 'TavroCoreBundle:Email:base.html.twig' %}

{% block email_body %}
<p>{{ user.person.firstName }} ({{ user.username }}),</p>

<p>Your password has been reset. If you did not initiate this please, contact {{ app.app_email }} for immediate assistance.</p>
{% endblock %}