{% extends 'TavroCoreBundle:Email:base.html.twig' %}

{% block email_body %}
<p>Hi {{ user.username }},</p>

<p>You have requested your {{ app_hostname }} account password be reset. If you did not request your password to be reset, please forward this email to {{ app_email }}.</p>

<p>To complete this request please visit the following URL: {{ url('reset_password', {'token':user.passwordToken}) }}</p>
{% endblock %}