{% extends '::base.html.twig' %}

{% block body_classes %}tavro-api-docs{% endblock %}

{% block body %}
<div id="page-body">

    <div class="container-fluid">
        <div class="page-header">
            <h1>TAVRO Documentation</h1>
            <p>This page is a simple placeholder, and only exists within your local development environment as a reference for development purposes.</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="list-group">
                    <a target="_blank" class="list-group-item" href="http://apib.tavro.dev/">
                        <i class="pull-left fa fa-fw fa-3x fa-laptop"></i>
                        <h4 class="list-group-item-heading">API Blueprint</h4>
                        <p class="list-group-item-text">Swagger API documentation for <em>tavro-api</em></p>
                    </a>
                    <a target="_blank" class="list-group-item" href="http://api-docs.tavro.dev/">
                        <i class="pull-left fa fa-fw fa-3x fa-file-code-o"></i>
                        <h4 class="list-group-item-heading">API Application Documentation</h4>
                        <p class="list-group-item-text">Full annotated namespace documentation of <strong>tavro-api</strong>.</p>
                    </a>
                    <a target="_blank" class="list-group-item" href="http://admin-docs.tavro.dev/">
                        <i class="pull-left fa fa-fw fa-3x fa-cogs"></i>
                        <h4 class="list-group-item-heading">Admin Application Documentation</h4>
                        <p class="list-group-item-text">Full annotated namespace documentation of <strong>tavro-admin</strong>.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 visible-lg">
                <img class="img-responsive" src="{{ asset('bundles/tavrocore/img/bull.png') }}" />
            </div>

        </div>
    </div>

</div>
{% endblock %}