---
api_root: /var/www/tavro/api/
core_fixture_path: src/Tavro/Bundle/CoreBundle/DataFixtures/ORM/Core/v1
api_fixture_path: src/Tavro/Bundle/CoreBundle/DataFixtures

dev:
    dbname:
    dbuser:
    dbpass:
    dbhost:

stage:
    dbname:
    dbuser:
    dbpass:
    dbhost:

prod:
    dbname:
    dbuser:
    dbpass:
    dbhost: