<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TAVRO API (dev)</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4-alpha/slate/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">

      <div class="jumbotron" style="margin-top: 100px">
        <h1 class="display-3"><strong>TAVRO</strong></h1>
        <p class="lead">This developer toolkit &amp; dashboard is a toolbox for the application suite of app, admin, api, dashboard, and more.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg pull-right" href="#" role="button">Read Full Documentation</a>
      </div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>