@import "variables.scss";

html,body {
  font-family: 'Ubuntu';
}

code,pre {
  font-family: 'Ubuntu Mono';
}

code {
  background-color: transparent;
  color: $brand-success;
}

h1,h2 {
  font-family: 'Oswald';
}

@media (min-width: 767px) {
  #page-body {
    margin-left: 320px;
  }
}