@import url('variables.scss');

html,body {
  font-family: 'Ubuntu';
}

code,pre {
  font-family: 'Ubuntu Mono';
}

h1,h2 {
  font-family: 'Oswald';
}

@media (min-width: 767px) {
  #page-body {
    margin-left: 320px;
  }
}