@import "variables.scss";

html,body {
  font-family: 'Ubuntu';
  background: darken($white, 2%);
}

code,pre {
  font-family: 'Ubuntu Mono';
}

code {
  background-color: transparent;
  color: $brand-success;
}

h1,h2 {
  font-family: 'Oswald';
}

.no-auth {

  background: darken($white, 5%);
  padding-top: 10%;

  .panel {
    box-shadow: 0px 0px 10px darken($white, 25%);
  }

}

.nav-side-menu {
  #menu-content {
    #symfony {
      background: $brand-primary;
    }
  }
}

#intro-menu {

  margin: 0;
  padding: 0;

  li {

    list-style: none;
    margin: 0;
    padding: 0;

    &:before {
      font-family: FontAwesome;
      content: "\f105";
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
    }

    ul {

      margin: 5px 30px;
      padding: 0;
    }

  }

}

table {

  &.table-api {

    .string,
    .date,
    .integer,
    .array,
    .float,
    .decimal,
    .datetime,
    .boolean {
      font-family: 'Ubuntu Mono';
      font-weight: 600;
    }

  }

}

.tab-content {
  background: $white;
  margin: 0;
  padding: 2em;
  border: 1px solid #ddd;
  border-top: none;

  .tab-content {
    border: none !important;
    padding: 0;
    margin: 2em 0 0 0;
  }

}

@media (min-width: 767px) {
  #page-body {
    margin-left: 270px;
  }
  .no-auth {
    padding-top: 20%;
  }
}