{% extends 'TavroCoreBundle:Email:base.html.twig' %}

{% block email_body %}
<p>The following {{ accounts|length }} accounts are approaching the end of their trial period:</p>

<div class="list-group">
    {% foreach account in accounts %}
    <a class="list-group-item">
        <h3 class="list-group-item-heading">{{ account.name }}</h3>
        <p class="list-group-item-text">Owned by {{ account.user.person.firstName }}, expiring {{ account.trialExpiresDate }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}