<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tavro.io API">
    <meta name="author" content="Zoadilack, LLC">

    <title>TAVRO API</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic|Ubuntu+Mono" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css"/>

    {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ amazon_s3_url }}/{{ asset_bucket }}/assets/css/tavro.css"/>
    {% else %}
        <link rel="stylesheet" href="/assets/css/tavro.css"/>
    {% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="{% if not app.user %}no-auth{% endif %} {% block body_classes %}{% endblock %}">

<section id="page">
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
</section>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% if app.environment == 'prod' %}
<script type="text/javascript" href="{{ amazon_s3_url }}/{{ asset_bucket }}/assets/js/tavro.js"/>
{% else %}
<script type="text/javascript" href="/assets/js/tavro.js"/>
{% endif %}

{% if app.environment == 'prod' %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-########-#', 'auto');
        ga('send', 'pageview');

    </script>
{% endif %}

</body>

</html>