{% extends 'TavroAppBundle:Layouts:app.html.twig' %}

{% block header %}
<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="{{ path('index') }}"><i class="fa fa-fw fa-home"></i></a></li>
    <li><a href="{{ path('content') }}"><i class="fa fa-fw fa-folder-open"></i> Content</a></li>
    <li>{% include 'TavroAppBundle:Node:icon.html.twig' %} <a href="/{[node.type]}s">{[node.type|capitalize]}s</a></li>
  </ol>
</div>
{% endblock %}

{% block content -%}

  <div ng-controller="NodeController as nCtrl">
  <section ng-init="initializeData()">

    <ul class="nav nav-tabs" role="tablist">

      <li class="active" role="presentation"ng-if="user.is_moderator || user.id == node.user.id"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab"><i class="fa fa-fw fa-edit"></i> Edit</a></li>

      <li role="presentation"><a href="#node" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-fw fa-cube"></i> <span ng-if="user.is_moderator || user.id == node.user.id">Preview</span><span ng-model="node.title" ng-if="!user.is_moderator && user.id != node.user.id"><strong>{[node.title]}</strong></span></a></li>

      <li class="dropdown" ng-if="user.is_moderator">
        <a href="javascript:;" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-circle-o-notch fa-spin"></i> Actions <i class="fa fa-fw fa-caret-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:;" ng-click="disable()" ng-if="user.is_moderator && node.status != 0"><i class="fa fa-fw fa-remove text-danger"></i> Remove</a></li>
          <li><a href="javascript:;" ng-click="enable()" ng-if="user.is_moderator && node.status != 1"><i class="fa fa-fw fa-thumbs-up text-success"></i> Enable</a></li>
        </ul>
      </li>

      <li class="pull-right"><a href="/{[node.type]}s/{[node.slug]}"><i class="ra" ng-class="{'ra-scroll-unfurled': node.type == 'article', 'ra-dripping-sword': node.type == 'guide'}"></i> View</a></li>

    </ul>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane node node-edit active" id="edit">
        {% include 'TavroAppBundle:Node:form.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane node node-preview" id="node">
        {% include 'TavroAppBundle:Node:node.html.twig' %}
      </div>

    </div>

    <div id="node-comments" ng-init="loadComments()">
      {% include 'TavroAppBundle:Comment:list.html.twig' %}
    </div>

  </section>
  </div>

{% endblock %}

{% block sidebar %}
  {% include 'TavroAppBundle:Node:sidebar.html.twig' %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    tavro.current_node = "{% if node and node.id %}{{ node.id }}{% else %}0{% endif %}";
    tavro.node_type = "{% if node and node.id %}{{ node.type }}{% else %}{% endif %}";
  </script>
{% endblock %}