<div id="node-sidebar" ng-controller="NodeController as nCtrl">
  <section>

  <div class="panel panel-default panel-collapse" ng-if="user.nodes.length">
    <div class="panel-heading">
      <a href="#"
         data-toggle="collapse" data-target="#user-nodes-list" aria-expanded="false" aria-controls="user-nodes-list">
        <i class="ra ra-book"></i> My Nodes <i class="pull-right ra fa-caret-down"></i></a>
    </div>
    <ul id="user-nodes-list" class="list-group collapse" ng-if="user.nodes.length">
      <li class="list-group-item" ng-repeat="node in user.nodes">
        <a href="/nodes/{[ node.slug ]}">
          <i ng-if="node.status == 1" class="fa fa-fw fa-check text-success" ng-nodeel="node.status"></i>
          <i ng-if="node.status == 0" class="fa fa-fw fa-warning text-danger" ng-nodeel="node.status"></i>
          <i ng-if="node.status == 2" class="fa fa-fw fa-spinner fa-spin text-primary" ng-nodeel="node.status"></i>
          {[ node.title ]}
        </a>
      </li>
    </ul>
  </div>

  <!-- begin latest nodes -->
  <section id="node-latest">
    <div class="panel panel-default" ng-init="loadLatest()" ng-if="latest.length">
      <div class="panel-heading">
        <i class="ra ra-burst-blob"></i> Latest
      </div>
      <div class="list-group">
        <a class="small list-group-item" ng-repeat="node in latest" href="/nodes/{[node.slug]}">
          <strong>{[ node.title | limitTo:30 ]}<span ng-if="node.title.length > 30">...</span></strong><br />
          <small class="text-muted">by <strong>{[node.user.username]}</strong> {[node.create_date|timeago]}</small></a>
      </div>
    </div>
  </section>
  <!-- end latest nodes -->

  <!-- begin popular nodes -->
  <section id="node-popular">
    <div class="panel panel-warning" ng-init="loadPopular()" ng-if="popular.length">
      <div class="panel-heading">
        <i class="ra ra-fire text-danger"></i> Popular
      </div>
      <div class="list-group">
        <a class="small list-group-item" ng-repeat="node in popular" href="/nodes/{[node.slug]}">
          <strong>{[ node.title | limitTo:30 ]}<span ng-if="node.title.length > 30">...</span></strong><br />
          <small class="text-muted">{[node.downloads]} downloads</small></a>
      </div>
    </div>
  </section>
  <!-- end popular nodes -->

  <div class="panel panel-default panel-collapse">
    <div class="panel-heading">
      <a href="javascript:;"
         data-toggle="collapse" data-target="#node-types-list" aria-expanded="false" aria-controls="node-types-list">
        <i class="ra ra-book"></i> Tavro Content <i class="pull-right ra fa-caret-down"></i></a>
    </div>
    <div id="node-types-list" class="list-group collapse">
      <a class="list-group-item" href="{{ path('articles') }}"><i class="ra ra-scroll-unfurled"></i> Articles</a>
      <a class="list-group-item" href="{{ path('guides') }}"><i class="ra ra-dripping-sword"></i> Guides</a>
      <a class="list-group-item" href="{{ path('content') }}"><i class="ra ra-book"></i> All Content</a>
    </div>
  </div>

  {#<div class="panel panel-default" ng-if="user.nodes.length">#}
    {#<div class="panel-heading">#}
      {#<i class="ra fa-cubes"></i> My Nodes#}
    {#</div>#}
    {#<ul class="list-group" ng-if="user.nodes.length">#}
      {#<li class="list-group-item" ng-repeat="node in user.nodes">#}
        {#<a href="/nodes/{[ node.slug ]}">#}
          {#<i ng-if="node.status == 1" class="ra fa-check text-success" ng-nodeel="node.status"></i>#}
          {#<i ng-if="node.status == 0" class="ra fa-warning text-danger" ng-nodeel="node.status"></i>#}
          {#<i ng-if="node.status == 2" class="ra fa-spinner fa-spin text-primary" ng-nodeel="node.status"></i>#}
          {#{[ node.title ]}#}
        {#</a>#}
      {#</li>#}
    {#</ul>#}
  {#</div>#}

  </section>
</div>