<div ng-show="nodesLoading" class="text-primary" style="line-height: 180px;">
  <h1 class="text-center"><i class="fa fa-fw fa-refresh fa-spin fa-5x"></i><br />Nodes loading...</h1>
</div>

<div id="nodes-wrapper" ng-if="!nodesLoading">
  <div class="filters row">

  <div class="col-lg-6">
    <label for="search-text-field">Filter results by title or text..</label>
    <div class="input-group">
      <span class="input-group-addon" id="search-text"><i class="fa fa-fw fa-search"></i></span>
      <input id="search-text-field" type="text" class="form-control" placeholder="" aria-describedby="search-text" ng-model="search.title">
    </div>
  </div>

  {% if node_type is not defined %}
  <div class="col-lg-3">
    <label for="node-type">Content Type</label>
    <select name="type" ng-model="search.type" class="form-control" ng-options="type.value as type.title for type in node_types"></select>
  </div>
  {% endif %}

  <div class="col-lg-3">
    <label for="node-type">Status</label>
    <select name="type" ng-model="search.status" class="form-control" ng-options="status.value as status.title for status in status_types"></select>
  </div>

</div>

<hr />

<table id="nodes" class="table table-responsive table-striped table-hover" ng-if="nodes.length">
  <thead>
    <tr>
      <th style="width: 20px;"></th>
      <th style="width: 30px;" ng-if="admin"></th>
      <th></th> {#title#}
      <th>Created</th> {#display_date#}
      <th ng-if="user.is_moderator && admin">Display</th> {#display_date#}
      <th class="text-center" style="width: 30px">Reads</th>
      <th class="text-center" style="width: 30px">Comments</th>
      <th style="width: 60px;">Author</th>
      <th ng-if="user.is_moderator"></th>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="node in nodes | filter:{title:search.title} | filter:{type:search.type} | filter:{status:search.status} | itemsPerPage: 25">
      <td class="small text-muted">{[$index+1]}</td>
      <td ng-if="admin">
        <i class="fa fa-fw"
           ng-class="{'fa-check text-success': node.status == 1, 'fa-power-off text-danger': node.status == 0, 'fa-spinner fa-spin text-muted': node.status == 2}"
        ></i>
      </td>
      <td>
        {% if node_type is not defined %}<i class="ra" ng-class="{'ra-scroll-unfurled': node.type == 'article', 'ra-dripping-sword text-info': node.type == 'guide'}"></i>&nbsp;{% endif %}
        <a href="/{[node.type]}s/{[node.slug]}">{[node.title]}</a><span class="hover-edit">&nbsp;<a target="_blank" class="btn btn-default btn-xs" href="/nodes/{[node.id]}/edit"><i class="fa fa-fw fa-edit"></i></a></span>
      </td>
      <td class="small">{[node.create_date|date]}</td>
      <td ng-if="user.is_moderator && admin" class="small">{[node.display_date|date]}</td>
      <td class="text-center">{[node.read_count]}</td>
      <td class="text-center">{[node.comment_count]}</td>
      <td><a href="/users/{[node.user.username]}">
          <img alt="{[user.username]}"
               ng-src="{[ node.user.avatar && '/media/cache/resolve/tiny_avatar/' + node.user.avatar.aws_key || '/bundles/tavrocore/img/avatars/default.gif' ]}"
               class="img-circle img-responsive user-avatar user-avatar-tiny img-thumbnail user-avatar-{[user.id]}" /></a>
      </td>
      <td class="admin" ng-if="user.is_moderator">
        <ul class="list-inline">
          <li><button type="button" class="btn btn-default btn-xs" onclick="return confirm('This will *permanently* delete this Node, are you sure?');" ng-click="delete(node)"><i class="fa fa-fw fa-trash text-danger"></i></button></li>
          <li><button type="button" class="btn btn-default btn-xs" onclick="return confirm('This will *immediately* publish this Node, are you sure?');" ng-click="approve(node)"><i class="fa fa-fw fa-check-circle text-success"></i></button></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-warning" ng-if="!nodes">No nodes found..</div>

<hr />

<div class="text-center">
  <dir-pagination-controls boundary-links="true" max-size="10"></dir-pagination-controls>
</div>