{% extends 'TavroAppBundle:Layouts:admin.html.twig' %}

{% block admin -%}

  <div ng-controller="AdminController as aCtrl">
    <section ng-init="loadNodes()">

    <div class="alert alert-warning" ng-show="!nodes.length && !nodesLoading"><i class="fa fa-fw fa-warning"></i> There are no nodes.</div>

    {% include 'TavroAppBundle:Node:table.html.twig' %}

    </section>
  </div>

{% endblock %}