{% extends 'TavroAppBundle:Layouts:app.html.twig' %}

{% block header %}
<h1>{[ race.title ]}</h1>
{% endblock %}

{% block content -%}

  <div id="race-{{ race.id }}" class="race-view" ng-controller="RaceController as rCtrl">
    <section ng-init="initializeData()">

    <div class="row race-body">
      {[ race.body ]}
    </div>

    </section>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'TavroAppBundle:Mod:sidebar.html.twig' %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    tavro.race = "{% if race and race.id %}{{ race.id }}{% else %}0{% endif %}";
  </script>
{% endblock %}