<p class="lead"><i class="fa fa-fw fa-users"></i> Contributors</p>

<div ng-if="!mod.mod_contributors.length" class="alert alert-warning">
  <p><i class="fa fa-fw fa-warning"></i> {[mod.title]} has no additional contributors.</p>
</div>

<ul class="row gallery" ng-if="mod.mod_contributors.length">
  <li class="text-center col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-repeat="mod_user in mod.mod_contributors">
    <div class="form-group">
      <a href="/users/{[mod_user.user.username]}"><img ng-if="mod_user.user.avatar" class="img-responsive img-thumbnail img-circle" src="/media/cache/resolve/avatar/{[mod_user.user.avatar.aws_key]}">
      <i ng-class="" class="img-circle img-thumbnail fa fa-fw fa-user" style="font-size: 120px;" ng-if="!mod_user.user.avatar"></i></a>
    </div>
    <p>{[mod_user.user.username]} <button class="btn btn-default btn-xs" ng-if="user.id == mod.user.id" ng-click="removeModUser(mod_user.id)" onclick="return confirm('Are you sure you want to remove this user from this Mod?')"><i class="fa fa-fw fa-remove text-danger"></i></button></p>
  </li>
</ul>

<div class="well well-sm" ng-if="mod.user.id == user.id">
  <p><i class="fa fa-fw fa-users"></i> Add Contributors</p>
  <form>

    <div class="row">
      <div class="col-lg-8">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
          <div class="form-group"><input type="text"
             id="contributor"
             class="form-control"
             ng-model="contributor"
             data-animation="am-flip-x"
             bs-options="user.username as user.username for user in getUsers($viewValue)"
             placeholder="Add a user.."
             bs-typeahead /></div>
        </div>
      </div>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-default" ng-click="addContributor(contributor)">
          <i class="fa fa-fw fa-user-plus"></i> Add
        </button>
      </div>
    </div>

  </form>
</div>