<p class="lead"><i class="fa fa-fw fa-image"></i> Screenshots</p>

<div ng-if="!mod.mod_images.length" class="alert alert-warning">
  <p><i class="fa fa-fw fa-warning"></i> {[mod.title]} has no screenshots.</p>
</div>

<ul class="row gallery" ng-if="mod.mod_images.length">
  <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" ng-repeat="image in mod.mod_images">
    <a data-lightbox="mod-{[mod.id]}-gallery" href="{[image.aws_url]}"><img title="{[image.original_filename]}" class="img-responsive img-thumbnail img-rounded" src="/media/cache/resolve/mod_thumbnail/{[image.aws_key]}"><p class="small text-center">{[image.original_filename]}</p></a>
  </li>
</ul>
