{#<!-- begin comments -->#}
<section class="comments">

  <div ng-show="commentsLoading" class="text-primary" style="line-height: 180px;">
    <h1 class="text-center"><i class="fa fa-fw fa-refresh fa-spin fa-5x"></i><br />Comments loading...</h1>
  </div>

  <div class="comments-wrapper" ng-show="!commentsLoading">

    <hr />

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-fw fa-comments"></i> {[comments.length]} Comment<span ng-if="comments.length != 1">s</span>
        </h3>
      </div>

      <div class="list-group" ng-controller="CommentController">
        <div
          ng-class="['list-group-item comment', {'list-group-item-info': user.id == comment.user.id, 'list-group-item-warning' : comment.status == 0}]"
          dir-paginate="comment in comments | itemsPerPage: 10"
          pagination-id="comments"
          id="comment-{[comment.id]}" ng-model="comment.status">

          <div ng-if="comment.status == 0" class="text-danger">
            <i class="fa fa-fw fa-warning"></i> This comment was removed by
            <a href="/users/{[comment.removed_by.username]}">{[comment.removed_by.username]}</a> {[comment.update_date|timeago]}.
          </div>

          <div class="comment-body" ng-if="comment.status == 1">
            <div class="row">
              <div class="col-lg-2 text-center">
                <a href="/users/{[comment.user.username]}">
                  <p><span ng-if="!comment.user.avatar"><i class="fa fa-user fa-border fa-5x"></i></span>
                  <img ng-if="comment.user.avatar" class="img-rounded img-thumbnail img-responsive" alt="{[comment.user.avatar.original_filename]}" src="/media/cache/resolve/avatar/{[comment.user.avatar.aws_key]}" />
                  </p>
                  <p>{[comment.user.username]}</p>
                </a>
              </div>
              <div class="col-lg-10" ng-bind-html="comment.body" class="comment-body text-muted" ng-model="comment.body"
                   contenteditable="{[ comment.user.id == user.id || user.is_moderator ? 'true' : 'false' ]}"
                >
                {[comment.body]}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-2">
                <ul class="small list-inline">
                  <li class="pull-left" style="color: #ddd;">{[comment.id]}</li>
                </ul>
              </div>
              <div class="col-lg-10">
                <ul class="small text-muted list-inline">
                  <li class="comment-action pull-right" ng-if="comment.user.id == user.id || user.is_moderator">
                    <button type="button" class="btn btn-xs btn-danger" ng-click="removeComment(comment)"><i class="fa fa-fw fa-close"></i> Remove</button>
                  </li>
                  <li>Submitted {[comment.create_date|timeago]} by <a href="/users/{[comment.user.username]}">{[comment.user.username]}</a>.</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="panel-body" ng-if="user.id">
        <form novalidate ng-submit="createComment(comment)">

          <div class="comment-form-wrapper">

            <div class="form-group">
              <div text-angular ta-toolbar="[['bold','italics','underline','strikeThrough','ul','ol'],['quote','pre','insertImage','insertLink','insertVideo'],['wordcount','charcount']]" ng-model="comment.body"></div>
            </div>
            <div class="form-group">
              <button class="btn btn-success" type="submit" ng-click="submit()"><i class="fa fa-fw fa-check"></i> Leave Comment</button>
            </div>

          </div>

        </form>
      </div>

    </div>

    <div class="alert alert-warning" ng-if="!user.id">
      <p><i class="fa fa-fw fa-sign-in"></i> You must be <a href="/login">logged in</a> to comment.</p>
    </div>

    <div class="text-center">
      <dir-pagination-controls boundary-links="true" max-size="10" pagination-id="comments"></dir-pagination-controls>
    </div>

  </div>

</section>
{#<!-- end comments -->#}