{% extends '::base.html.twig' %}
{% block body_classes %}admin{% endblock %}
{% block header %}
<div class="page-header">
  <h1>Tavro Administration</h1>
  <p class="lead"><i class="fa fa-fw fa-user-secret"></i> This is a restricted <strong>administrators only</strong> management dashboard.</p>

  <div class="btn-group btn-block">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-fw fa-cogs"></i> Administration Menu <span class="caret"></span>
    </button>
    {% include 'TavroAppBundle:Layouts:admin-menu.html.twig' %}
  </div>

</div>
{% endblock %}
{% block body -%}

  <div class="container admin">

    {% include 'TavroAppBundle:Component:alerts.html.twig' %}

    <div class="admin-content" ng-controller="AdminController">
      {% block admin %}{% endblock %}
    </div>

  </div>
{% endblock %}