{% extends '::base.html.twig' %}

{% block body -%}

  <div class="container main">

    <div id="content" class="row">
      <!-- begin content -->
      <div class="col-lg-9">
        {% include 'TavroAppBundle:Component:alerts.html.twig' %}
        {% block content %}{% endblock %}
      </div>
      <!-- /end content -->

      <!-- begin sidebar -->
      <div id="sidebar" class="col-lg-3">
        <div id="sidebar-content">
          {% block sidebar %}{% endblock %}

          {#<div class="panel panel-default">#}
            {#<div class="panel-body google-ad">#}
              {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
              {#<ins class="adsbygoogle"#}
                   {#style="display:block"#}
                   {#data-ad-client="ca-pub-0826379302706777"#}
                   {#data-ad-slot="1056539427"#}
                   {#data-ad-format="auto"></ins>#}
              {#<script>#}
              {#(adsbygoogle = window.adsbygoogle || []).push({});#}
              {#</script>#}
            {#</div>#}
          {#</div>#}

        </div>
      </div>
      <!-- end sidebar -->

    </div>

  </div>

{% endblock %}