{% extends '::base.html.twig' %}

{% block body_classes %}tavro-api-docs{% endblock %}

{% block body %}
<div id="page-body">

    <div class="container-fluid">
        <div class="page-header">
            <h1>TAVRO API Documentation</h1>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="list-group">
                    <a target="_blank" class="list-group-item" href="http://docs.tavro.apiary.io/">
                        <i class="pull-left fa fa-fw fa-3x fa-laptop"></i>
                        <h4 class="list-group-item-heading">API Blueprint @ Apiary.io</h4>
                        <p class="list-group-item-text">Interactive API Blueprint and Mock Server via Apiary.io.</p>
                    </a>
                    <a target="_blank" class="list-group-item" href="http://docs.tavro.dev/">
                        <i class="pull-left fa fa-fw fa-3x fa-file-code-o"></i>
                        <h4 class="list-group-item-heading">phpDoc Application Documentation</h4>
                        <p class="list-group-item-text">Full annotated namespace documentation of TavroBundle.</p>
                    </a>
                    <a target="_blank" class="list-group-item" href="http://phpunit.tavro.dev/">
                        <i class="pull-left fa fa-fw fa-3x fa-beer"></i>
                        <h4 class="list-group-item-heading">PHPUnit Code Coverage</h4>
                        <p class="list-group-item-text">Code Coverage Analysis for Tavro Application.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 visible-lg">
                <img class="img-responsive" src="{{ asset('bundles/tavroapp/images/bull.png') }}" />
            </div>

        </div>
    </div>

</div>
{% endblock %}