{# src/tavromods/UserBundle/Resources/views/Security/login.html.twig #}

{% extends '::base.html.twig' %}

{% block body_classes %}login{% endblock %}
{% block title %}Login{% endblock %}
{% block header %}{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-lg-6 col-md-offset-3">

      <div class="panel panel-default">
        <div class="panel-body">
          {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
          {% endif %}

          <form action="{{ path('login_check') }}" method="post" role="form">

            <div class="form-group username">
              <label for="username">Email or Username</label>
              <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
            </div>

            <div class="form-group password">
              <label for="password">Password</label>
              <input type="password" id="password" name="_password" class="form-control" />
            </div>

            <div class="form-group remember">
              <input type="checkbox" id="remember_me" name="_remember_me" checked />
              <label for="remember_me">Keep me logged in</label>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-success pull-left">
                <i class="fa fa-fw fa-key"></i>&nbsp;Authenticate
              </button>
              <a class="small pull-right" href="{{ path('forgot_password') }}">
                <i class="fa fa-fw fa-question-circle"></i>&nbsp; Forgot your password?
              </a>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>

{% endblock %}