<div class="panel panel-info">
  <div class="panel-body">
    <p class="lead"><i class="fa fa-fw fa-info-circle"></i> Password Requirements</p>
    <ol class="small text-muted">
      <li>At least one special character (!@#$%^&*()_+)</li>
      <li>At least one number (1234567890)</li>
      <li>At least 8 total characters</li>
    </ol>
  </div>
</div>