{% extends 'TavroAppBundle:Layouts:app.html.twig' %}

{% block header %}
<ol class="breadcrumb">
  <li><a href="{{ path('index') }}"><i class="fa fa-fw fa-home"></i> Tavro</a></li>
  <li><a href="{{ path('mods') }}"><i class="fa fa-fw fa-cubes"></i> All Mods</a></li>
  <li><i class="fa fa-fw fa-cube"></i> {[current_category.title]}</li>
</ol>
{% endblock %}

{% block content -%}

  <div id="mods" ng-controller="ModController as mCtrl">
    <section ng-init="initializeCategoryMods()">

      <div class="page-header">
        <h1><i class="fa fa-fw fa-cube"></i> {[ current_category.title ]}</h1>
      </div>

      <div ng-show="modsLoading" class="text-primary" style="line-height: 180px;">
        <h1 class="text-center"><i class="fa fa-fw fa-refresh fa-spin fa-5x"></i><br />Mods loading...</h1>
      </div>

      <div class="row" ng-show="!modsLoading">

        <div class="col-lg-4">

          <ul class="list-group">
            <li ng-repeat="category in categories" ng-class="category.id == current_category.id ? 'list-group-item disabled' : 'list-group-item'">
              <a ng-if="category.id != current_category.id" class="small" href="/mods/categories/{[category.slug]}">
                <i class="fa fa-fw fa-cube"></i> {[category.title]} <span class="badge pull-right">{[category.mod_count]}</span>
              </a>
              <div ng-if="category.id == current_category.id"><i class="fa fa-fw fa-arrow-right"></i> {[category.title]} <span class="badge pull-right">{[category.mod_count]}</span></div>
            </li>
          </ul>

        </div>

        <div class="col-lg-8">

          <div class="alert alert-warning" ng-show="!category_mods.length && !modsLoading"><i class="fa fa-fw fa-warning"></i> There are no <em>{[current_category.title]}</em> mods.</div>

          <div class="input-group">
            <span class="input-group-addon" id="search-text"><i class="fa fa-fw fa-search"></i></span>
            <input id="search-text-field" type="text" class="form-control" placeholder="Filter results by title or text.." aria-describedby="search-text" ng-model="searchText">
          </div>

          <div id="searchTextResults" class="mod-row media" dir-paginate="mod in category_mods | filter:searchText | itemsPerPage: 25">
            <div class="media-left media-middle">
              <a href="/mods/{[mod.slug]}">
                <i class="fa fa-image fa-border fa-3x" ng-if="!mod.mod_images.length"></i>
                <img class="img-rounded img-thumbnail img-responsive" alt="{[mod.mod_images[0].original_filename]}" src="/media/cache/resolve/mod_thumbnail/{[ mod.mod_images[0].aws_key ]}" ng-if="mod.mod_images.length" />
              </a>
            </div>
            <div class="media-body">
              <a href="/mods/{[mod.slug]}"><strong>{[mod.title]}</strong>
              <p class="small">{[mod.body | plainText | limitTo: 140]}<span ng-if="mod.body.length > 140">...</span></p></a>
            </div>
          </div>

          <hr />

          <div class="alert alert-info small" ng-if="category_mods.length <= 25">There is only one page of <strong>{[current_category.title]}</strong> mods.</div>

          <div class="text-center">
            <dir-pagination-controls boundary-links="true" max-size="10"></dir-pagination-controls>
          </div>

        </div>

      </div>

    </section>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'TavroAppBundle:Mod:sidebar.html.twig' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
  tavro.current_category = {{ category.id }};
</script>
{% endblock %}