{% extends 'TavroAppBundle:Layouts:app.html.twig' %}

{% block header %}
<ol class="breadcrumb">
  <li><i class="fa fa-fw fa-folder-open"></i> <a href="{{ path('mods') }}">Mods</a></li>
  <li><i class="fa fa-fw fa-cubes"></i> <a href="/mods/categories/{[mod.category.slug]}">{[mod.category.title]}</a></li>
  <li><i class="fa fa-fw fa-cube"></i> {[mod.title]}</li>
</ol>
{% endblock %}

{% block content -%}

  <div id="mod-{{ mod.id }}" class="mod mod-edit" ng-controller="ModController as mCtrl">
  <section ng-init="loadMod()">

    <div ng-if="mod.status != 1" class="alert alert-warning">
      <i class="fa fa-fw fa-warning"></i> This Mod is not active as of <strong>{[mod.update_date|date:'medium']}</strong>
    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-if="user.is_moderator || user.id == mod.user.id" class="active"><a href="#edit" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-fw fa-edit"></i> Edit</a></li>
      <li role="presentation"ng-if="user.is_moderator || user.id == mod.user.id"><a href="#file" aria-controls="file" role="tab" data-toggle="tab"><i class="fa fa-fw fa-file-zip-o"></i> Mod File(s)</a></li>
      <li role="presentation"ng-if="user.is_moderator || user.id == mod.user.id"><a href="#images" aria-controls="images" role="tab" data-toggle="tab"><i class="fa fa-fw fa-file-photo-o"></i> Images</a></li>
      <li role="presentation"ng-if="user.is_moderator || user.id == mod.user.id"><a href="#users" aria-controls="users" role="tab" data-toggle="tab"><i class="fa fa-fw fa-users"></i> Contributors</a></li>
      <li class="dropdown" ng-if="user.is_moderator">
        <a href="javascript:;" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-circle-o-notch fa-spin"></i> Actions <i class="fa fa-fw fa-caret-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:;" ng-click="remove()" ng-if="user.is_moderator && mod.status != 0"><i class="fa fa-fw fa-remove text-danger"></i> Remove</a></li>
          <li><a href="javascript:;" ng-click="reactivate()" ng-if="user.is_moderator && mod.status != 1"><i class="fa fa-fw fa-thumbs-up text-success"></i> Reactivate</a></li>
          <li><a href="javascript:;" ng-click="suspend()" ng-if="user.is_moderator && mod.status != 2"><i class="fa fa-fw fa-thumbs-down text-warning"></i> Suspend</a></li>
          <li><a href="javascript:;" ng-click="spotlight()" ng-if="user.is_moderator"><i class="fa fa-fw fa-lightbulb-o text-primary"></i> Spotlight</a></li>
        </ul>
      </li>
      <li class="pull-right"><a href="/mods/{[mod.slug]}">Go <i class="fa fa-fw fa-arrow-circle-right"></i></a></li>
      <li class="pull-right" role="presentation"><a href="#mod" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-fw fa-cube"></i> <span ng-if="user.is_moderator || user.id == mod.user.id">Preview</span><span ng-model="mod.title" ng-if="!user.is_moderator && user.id != mod.user.id">{[mod.title]}</span></a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="edit">
        <div class="small form-group">
          <i class="fa fa-fw fa-user"></i> <a href="/users/{[mod.user.username]}">{[mod.user.username]}</a> created this mod {[mod.create_date|timeago]}. Last updated {[mod.update_date]}
        </div>

        <hr />
        {% include 'TavroAppBundle:Mod:form/mod.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane" id="mod">
        {% include 'TavroAppBundle:Mod:mod.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane" id="images">
        {% include 'TavroAppBundle:Mod:form/images.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane" id="users">
        {% include 'TavroAppBundle:Mod:form/users.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane" id="file">
        {% include 'TavroAppBundle:Mod:form/file.html.twig' %}
      </div>

    </div>

    <div id="mod-comments" ng-init="loadComments()">
      {% include 'TavroAppBundle:Comment:list.html.twig' %}
    </div>

  </section>
  </div>

{% endblock %}

{% block sidebar %}
  {% include 'TavroAppBundle:Mod:sidebar.html.twig' %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    tavro.current_mod = "{% if mod and mod.id %}{{ mod.id }}{% else %}0{% endif %}";
  </script>
{% endblock %}