{% extends 'TavroAppBundle:Layouts:app.html.twig' %}
{% block header %}
<ol class="breadcrumb">
  <li><i class="ra ra-repair"></i> <a href="{{ path('mods') }}">Mods</a></li>
</ol>
{% endblock %}
{% block content -%}

  <div ng-controller="ModController as mCtrl">
    <section ng-init="initializeData()">

      <ul class="nav nav-tabs responsive" role="tablist">
        <li role="presentation" class="active"><a href="#new" aria-controls="mod" role="tab" data-toggle="tab"><i class="fa fa-fw fa-plus-circle"></i> New UI Mod</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="new">

          {% include 'TavroAppBundle:Mod/form:mod.html.twig' %}

        </div>
      </div>

    </section>
  </div>

{% endblock %}

{% block sidebar %}
  {% include 'TavroAppBundle:Mod:sidebar.html.twig' %}
{% endblock %}