<div id="mod-sidebar" ng-controller="ModController as mCtrl">

  <section id="new-mod">
  {% if app.user %}
    {% if route != 'mod_new' %}<div class="form-group">
      <a class="btn btn-block btn-primary" href="{{ url('mod_new') }}"><i class="ra ra-repair"></i> Upload a New Mod</a>
    </div>{% endif %}
  {% else %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p><a class="btn btn-xs btn-primary" href="{{ url('login') }}">Login</a> to upload your Mod</p>
        <p class="small">New to Tavro? <a href="{{ url('signup') }}">Signup</a> for free!</p>
      </div>
    </div>
  {% endif %}
  </section>

  <!-- begin spotlight mod -->
  <section id="mod-spotlight" ng-init="loadSpotlight()">
    <div class="panel panel-spotlight panel-success" ng-if="spotlightMod.id">
      <div class="panel-heading">
        <a href="/mods/{[spotlight.slug]}">{[ spotlightMod.title ]}</a>
      </div>
      <div class="list-group">
        <div class="list-group-item" ng-if="spotlightMod.mod_images.length">
          <img class="img-responsive img-{[spotlightMod.mod_images[0].id]}" alt="{[spotlight.title]}" src="/media/cache/resolve/mod_thumbnail/{[spotlightMod.mod_images[0].aws_key]}" />
        </div>
        <div class="list-group-item" ng-if="!spotlightMod.mod_images.length">{[spotlightMod.body | plainText | limitTo: 100]}<span ng-if="spotlightMod.body.length > 100">...</span></div>
        <div class="small list-group-item text-primary">Created {[spotlightMod.create_date|date:'short']}</div>
        <a class="small list-group-item" href="/users/{[spotlightMod.user.username]}"><i class="fa fa-fw fa-user"></i> {[spotlightMod.user.username]}</a>
        <a class="small list-group-item" href="/mods/{[spotlightMod.category.slug]}"><i class="fa fa-fw fa-cube"></i> {[spotlightMod.category.title]}</a>
      </div>
    </div>
  </section>
  <!-- end spotlight mod -->

  <div class="panel panel-default panel-collapse" ng-if="user.mods.length">
    <div class="panel-heading">
      <a href="javascript:;"
         data-toggle="collapse" data-target="#user-mods-list" aria-expanded="false" aria-controls="user-mods-list">
        <i class="ra ra-repair"></i> My Mods <i class="pull-right fa fa-fw fa-caret-down"></i></a>
    </div>
    <ul id="user-mods-list" class="list-group collapse" ng-if="user.mods.length">
      <li class="list-group-item" ng-repeat="mod in user.mods">
        <a href="/mods/{[ mod.slug ]}">
          <i ng-if="mod.status == 1" class="fa fa-fw fa-check text-success" ng-model="mod.status"></i>
          <i ng-if="mod.status == 0" class="fa fa-fw fa-warning text-danger" ng-model="mod.status"></i>
          <i ng-if="mod.status == 2" class="fa fa-fw fa-spinner fa-spin text-primary" ng-model="mod.status"></i>
          {[ mod.title ]}
        </a>
      </li>
    </ul>
  </div>

  <!-- begin latest mods -->
  <section id="mod-latest">
    <div class="panel panel-default" ng-init="loadLatest()">
      <div class="panel-heading">
        <i class="ra ra-burst-blob"></i> Latest
      </div>
      <div class="list-group">
        <a class="small list-group-item" ng-repeat="mod in latest" href="/mods/{[mod.slug]}">
          <strong>{[ mod.title | limitTo:30 ]}<span ng-if="mod.title.length > 30">...</span></strong><br />
          <small class="text-muted">by <strong>{[mod.user.username]}</strong> {[mod.create_date|timeago]}</small></a>
      </div>
      <div class="panel-body" ng-if="!latest.length">
        There are no mods to list.
      </div>
    </div>
  </section>
  <!-- end latest mods -->

  <!-- begin popular mods -->
  <section id="mod-popular">
    <div class="panel panel-warning" ng-init="loadPopular()">
      <div class="panel-heading">
        <i class="ra ra-fire text-danger"></i> Popular
      </div>
      <div class="list-group">
        <a class="small list-group-item" ng-repeat="mod in popular" href="/mods/{[mod.slug]}">
          <strong>{[ mod.title | limitTo:30 ]}<span ng-if="mod.title.length > 30">...</span></strong><br />
          <small class="text-muted">{[mod.downloads]} downloads</small></a>
      </div>
      <div class="panel-body" ng-if="!popular.length">
        There are no mods to list.
      </div>
    </div>
  </section>
  <!-- end popular mods -->

</div>