{% extends 'TavroAppBundle:Layouts:app.html.twig' %}

{% block header %}
<ol class="breadcrumb visible-desktop">
  <li><i class="fa fa-fw fa-folder-open"></i> <a href="{{ path('mods') }}">Mods</a></li>
  <li><i class="fa fa-fw fa-cubes"></i> <a href="/mods/categories/{[mod.category.slug]}">{[mod.category.title]}</a></li>
  <li><i class="fa fa-fw fa-cube"></i> {[mod.title]}</li>
</ol>
{% endblock %}

{% block content -%}

  <div id="mod-{{ mod.id }}" class="mod mod-view" ng-controller="ModController as mCtrl">
  <section ng-init="loadMod()">

    <div ng-if="mod.status != 1" class="alert alert-warning">
      <i class="fa fa-fw fa-warning"></i> This Mod is not active as of <strong>{[mod.update_date|date:'medium']}</strong>
    </div>

    <ul class="nav nav-tabs responsive" role="tablist">
      <li role="presentation" class="active"><a href="#mod-view" aria-controls="mod" role="tab" data-toggle="tab"><i class="fa fa-fw fa-edit"></i> View</a></li>
      <li role="presentation" class=""><a href="#mod-screenshots" aria-controls="mod" role="tab" data-toggle="tab"><i class="fa fa-fw fa-image"></i> Screenshots</a></li>
      <li ng-if="mod.github_repo" role="presentation" class=""><a href="#mod-issues" aria-controls="issues" role="tab" data-toggle="tab" ng-click="loadIssues()"><i class="ra ra-beetle"></i> Issues</a></li>
      <li ng-if="mod.github_repo" role="presentation" class=""><a href="#mod-history" aria-controls="history" role="tab" data-toggle="tab" ng-click="loadCommits()"><i class="fa fa-fw fa-files-o"></i> Changelog</a></li>
      <li role="presentation" class=""><a href="#mod-users" aria-controls="users" role="tab" data-toggle="tab"><i class="fa fa-fw fa-users"></i> Contributors</a></li>
      {% if is_granted('edit', mod) %}
        <li class="pull-right"><a href="{{ path('mod_edit', {'mod': mod.id}) }}"><i class="fa fa-fw fa-edit"></i> Edit</a></li>
      {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="mod-view">
        {% include 'TavroAppBundle:Mod:mod.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane" id="mod-screenshots">
        {% include 'TavroAppBundle:Mod/view:screenshots.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane" id="mod-issues">
        {% include 'TavroAppBundle:Mod/view:issues.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane" id="mod-history">
        {% include 'TavroAppBundle:Mod/view:changelog.html.twig' %}
      </div>

      <div role="tabpanel" class="tab-pane" id="mod-users">
        {% include 'TavroAppBundle:Mod/view:contributors.html.twig' %}
      </div>

    </div>

    <div id="mod-comments" ng-init="loadComments()">
      {% include 'TavroAppBundle:Comment:list.html.twig' %}
    </div>

  </section>
  </div>

{% endblock %}

{% block sidebar %}
  {% include 'TavroAppBundle:Mod:sidebar.html.twig' %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    tavro.current_mod = "{% if mod and mod.id %}{{ mod.id }}{% else %}0{% endif %}";
  </script>
{% endblock %}