{% extends '::base.html.twig' %}

{% block body -%}

  <div id="file-{{ file.id }}" class="file file-download" ng-controller="FileController as fCtrl">
  <section ng-init="loadFile()">

    <div class="page-header">
      <h1><i class="fa fa-fw fa-download"></i> Download</h1>
    </div>

    <p class="lead">This file has been downloaded {{ file.downloads }} times.</p>

    <p class="text-muted">Your download will begin in [] seconds. If your download does not automatically trigger <a class="btn btn-xs btn-default" href="{{ file.awsUrl }}"><i class="fa fa-fw fa-cloud-download"></i> download the file</a> manually.</p>

  </section>
  </div>

{% endblock %}

{% block js %}
  <script type="text/javascript">
    tavro.download_file = "{% if file and file.id %}{{ file.id }}{% else %}0{% endif %}";
  </script>
{% endblock %}